Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

.gitlab-ci.yml:

default:
  tags:
    - comsc-ci

image: node:20-alpine

stages:
  - lint # Linting for both frontend and backend
  - test # Testing for both frontend and backend
  - build # Build frontend
  - deploy 
  - dev # Development server for frontend

variables:
  CI_DEBUG_TRACE: "false"

# 1. Linting - Frontend
lint-frontend:
  stage: lint
  script:
    - echo "Installing dependencies..."
    - cd alacrity_frontend
    - npm ci
    - echo "Running lint..."
    - npm run lint --fix
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - alacrity_frontend/**/*

# 2. Linting - Backend (Pylint)
lint-backend:
  stage: lint
  image: python:3.10
  before_script:
    - pip install pylint
  script:
    - echo "Running Pylint..."
    - pylint alacrity_backend --exit-zero  # Allow non-zero exit codes to avoid failing CI for now
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - alacrity_backend/**/*.py

# 3. Testing - Frontend
test-frontend:
  stage: test
  script:
    - cd alacrity_frontend
    - npm ci
    - echo "Running frontend tests..."
    - npm run test
  artifacts:
    paths:
      - test-reports/
    expire_in: 1 week
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - alacrity_frontend/**/*

# 4. Testing - Backend (Python Tests)
test-backend:
  stage: test
  image: python:3.10
  before_script:
    - cd alacrity_backend
    - pip install -r requirements.txt
  script:
    - echo "Running backend tests..."
    - python manage.py test  # Use pytest if needed: pytest --cov=.
  artifacts:
    paths:
      - test-reports/
    expire_in: 1 week
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - alacrity_backend/**/*

# 5. Build - Frontend
build-frontend:
  stage: build
  script:
    - cd alacrity_frontend
    - npm ci
    - npm run build
  artifacts:
    paths:
      - alacrity_frontend/.next/
    expire_in: 1 week
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - alacrity_frontend/**/*

# 6. Dev - Frontend
dev:
  stage: dev
  script:
    - cd alacrity_frontend
    - npm ci
    - npm run dev &
    - sleep 40
    - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - alacrity_frontend/**/*

# # 7. Deployment (Not functional yet)
# deploy:
#   stage: deploy
#   script:
#     - echo "Deploying..."
#   rules:
#     - if: '$CI_COMMIT_BRANCH == "main"'
#   environment:
#     name: production

test ci v 1
  .gitlab-ci.yml
Due: none

test ci v 1
  alacrity_backend/alacrity_backend/Test.py
Due: lint-backend, test-backend

test ci v 1
  Dockerfile.backend
  alacrity_backend/requirements.txt
  docker-compose.yml
Due: test-backend

test ci v coverage1
  .gitlab-ci.yml
  alacrity_frontend/jest.config.ts
  alacrity_frontend/package.json
Due: lint-frontend, test-frontend, build-frontend, dev

test ci v coverage1
  .gitlab-ci.yml
Due: none

changes to md
  README.md
Due: none

fic
  alacrity_frontend/jest.config.ts
Due: lint-frontend, test-frontend, build-frontend, dev

test v2
  .gitlab-ci.yml
Due: none

v3
  .gitlab-ci.yml
  alacrity_frontend/jest.config.ts
Due: lint-frontend, test-frontend, build-frontend, dev

v3
  .gitlab-ci.yml
  alacrity_frontend/jest.config.ts
  alacrity_frontend/src/config.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

v3
  alacrity_frontend/jest.config.ts
Due: lint-frontend, test-frontend, build-frontend, dev

v3
  .gitlab-ci.yml
  alacrity_frontend/src/config.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

v3
  .gitlab-ci.yml
Due: none

test with a new thing
  .gitlab-ci.yml
  alacrity_frontend/jest.config.ts
  alacrity_frontend/package.json
Due: lint-frontend, test-frontend, build-frontend, dev

last
  .gitlab-ci.yml
  alacrity_backend/.coverage
  alacrity_frontend/jest.config.ts
  alacrity_frontend/package.json
Due: lint-frontend, test-frontend, test-backend, build-frontend, dev

Update .gitlab-ci.yml file to enforce code coverage of 40
  .gitlab-ci.yml
Due: none

Update jest.config.ts by updating coverage
  alacrity_frontend/jest.config.ts
Due: lint-frontend, test-frontend, build-frontend, dev

version 1 of form
  .gitignore
  alacrity_backend/alacrity_backend/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/datasets/page.tsx
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

failing test because of banbel dependacy
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/views.py
  alacrity_frontend/jest.config.ts
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/libs/MinioClient.tsx
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

Added the datasets app , created the datasets table
  .gitignore
  README.md
  alacrity_backend/alacrity_backend/models.py
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/.gitignore
  alacrity_backend/datasets/__init__.py
  alacrity_backend/datasets/__pycache__/__init__.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/admin.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/apps.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
  alacrity_backend/datasets/admin.py
  alacrity_backend/datasets/apps.py
  alacrity_backend/datasets/migrations/__init__.py
  alacrity_backend/datasets/migrations/__pycache__/__init__.cpython-312.pyc
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/views.py
  alacrity_backend/requirements.txt
Due: lint-backend, test-backend

Revert "version 1 of form"
  .gitignore
  alacrity_backend/alacrity_backend/views.py
  alacrity_frontend/babel.config.js
  alacrity_frontend/jest.setup.ts
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/datasets/page.test.tsx
  alacrity_frontend/src/app/datasets/page.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

added the view and the necessary urls , function that would handle data once it has been submitted into the system
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
Due: lint-backend, test-backend

tests
  alacrity_backend/alacrity_backend/views.py
  alacrity_frontend/babel.config.js
  alacrity_frontend/package-lock.json
  alacrity_frontend/src/app/datasets/page.test.tsx
  alacrity_frontend/src/app/datasets/page.tsx
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/libs/MinioClient.tsx
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

tests
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/views.py
Due: lint-backend, test-backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Added tests to check whether they run
  .gitignore
  alacrity_backend/.coverage
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
Due: lint-backend, test-backend

Added tests to check whether they run
  alacrity_backend/requirements.txt
Due: test-backend

test fixed
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/views.py
Due: lint-backend, test-backend

test fixed
  alacrity_backend/datasets/tests.py
Due: lint-backend, test-backend

branch
  .gitignore
  alacrity_backend/datasets/migrations/__init__.py
  alacrity_backend/datasets/migrations/__pycache__/__init__.cpython-312.pyc
Due: lint-backend, test-backend

branch
  .gitignore
  alacrity_backend/.coverage
  alacrity_backend/datasets/__pycache__/__init__.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/admin.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/apps.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
Due: test-backend

linked frontend with backend
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

linked frontend with backend
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

everything now works with the csrf protection when it is on
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/views.py
Due: lint-backend, test-backend

landing page, dynamic nav with tests
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/public/navbar/analysis/correlational.png
  alacrity_frontend/public/navbar/analysis/descriptive.png
  alacrity_frontend/public/navbar/analysis/inferential.png
  alacrity_frontend/public/navbar/analysis/pre.png
  alacrity_frontend/public/navbar/datasets/manageDataset.png
  alacrity_frontend/public/navbar/datasets/metrics.png
  alacrity_frontend/public/navbar/datasets/uploadDataset.png
  alacrity_frontend/public/navbar/researcher/browseDatasets.png
  alacrity_frontend/public/navbar/researcher/pendingApprovals.png
  alacrity_frontend/public/navbar/researcher/reviewRequests.png
  alacrity_frontend/public/navbar/review/accessRequests.jpg
  alacrity_frontend/public/navbar/review/accessRequests.png
  alacrity_frontend/public/navbar/review/reviewResearch.jpg
  alacrity_frontend/public/navbar/review/reviewResearch.png
  alacrity_frontend/src/__tests__/Home.test.tsx
  alacrity_frontend/src/__tests__/NavItem.test.tsx
  alacrity_frontend/src/__tests__/NavItems.test.tsx
  alacrity_frontend/src/__tests__/Navbar.test.tsx
  alacrity_frontend/src/app/globals.css
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/app/page.tsx
  alacrity_frontend/src/components/MaxWidthWrapper.tsx
  alacrity_frontend/src/components/NavItem.tsx
  alacrity_frontend/src/components/NavItems.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/ui/button.tsx
  alacrity_frontend/src/hooks/use-on-click-outside.ts
  alacrity_frontend/src/lib/utils.ts
  alacrity_frontend/tailwind.config.ts
Due: lint-frontend, test-frontend, build-frontend, dev
