Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*

Refactor DatasetUsersPage to use withAccessControl;
  alacrity_frontend/src/__tests__/analye/all_dataset/withAccess.test.tsx
  alacrity_frontend/src/__tests__/analye/tooltip.test.tsx
  alacrity_frontend/src/__tests__/organisation/admin/dataset_detail.test.tsx
  alacrity_frontend/src/app/organisation/admin/datasets/[id]/users_accessing/page.tsx
Due: test-frontend, build-frontend, dev

Add endpoint to retrieve requests processed by contributor and admin; update permissions and refactor dataset access logic
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/views.py
Due: test-backend

mplement chat functionality: add conversation and message models, create user chat API, and set up WebSocket consumer for real-time messaging
  alacrity_backend/datasets/chat_view.py
  alacrity_backend/datasets/consumers.py
  alacrity_backend/users/chat_view.py
  alacrity_backend/users/consumers.py
  alacrity_backend/users/models.py
  alacrity_backend/users/urls.py
  alacrity_frontend/src/components/chat/chats.tsx
  alacrity_frontend/src/components/chat/chattinguser
  alacrity_frontend/src/components/chat/chattinguser.tsx
  alacrity_frontend/src/components/chat/issue.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor AdminDashboard and update date formatting in user access views; enhance Sidebar tests for loading states and error handling
  alacrity_backend/organisation/views.py
  alacrity_frontend/src/__tests__/Sidebar.test.tsx
  alacrity_frontend/src/__tests__/datasetpageform.test.tsx
  alacrity_frontend/src/__tests__/organisation/admin/prfile.test.tsx
  alacrity_frontend/src/__tests__/organisation/admin/users_accessing_datasets.test.tsx
  alacrity_frontend/src/app/organisation/members/[id]/page.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor Sidebar test imports for cleaner code
  alacrity_frontend/src/__tests__/Sidebar.test.tsx
Due: test-frontend, build-frontend, dev

Update asgi.py
  alacrity_backend/alacrity_backend/asgi.py
Due: test-backend

Update settings.py
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

dark mode colours implemented
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/components/tables/DatasetRequestTable.tsx
  alacrity_frontend/src/components/tables/PendingSubmissionsTable.tsx
  alacrity_frontend/src/components/tables/PublicationTable.tsx
Due: test-backend, test-frontend, build-frontend, dev

wuueh
  Terraform/backend.sh
  Terraform/terraform.tfstate
  Terraform/terraform.tfstate.backup
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

tests and lint
  alacrity_frontend/jest.config.ts
  alacrity_frontend/src/__tests__/analye/all_dataset/withAccess.test.tsx
  alacrity_frontend/src/__tests__/dashboards/ResearcherDashboard.test.tsx
  alacrity_frontend/src/__tests__/dataset_request/description.tsx
  alacrity_frontend/src/app/requests/researchRequests/page.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/components/tables/DatasetRequestTable.tsx
  alacrity_frontend/src/components/tables/PendingSubmissionsTable.tsx
  alacrity_frontend/src/components/tables/PublicationTable.tsx
Due: test-frontend, build-frontend, dev

lint and images for side nav
  alacrity_frontend/public/navbar/review/all.png
  alacrity_frontend/public/navbar/review/chat.png
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-frontend, build-frontend, dev

review cards dark mode
  alacrity_frontend/src/components/all_datasets/description.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-frontend, build-frontend, dev

dark mode on review page
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
Due: test-frontend, build-frontend, dev

button
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
Due: test-frontend, build-frontend, dev

buttons
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
Due: test-frontend, build-frontend, dev

Implement chat functionality: add user chat views, update routing for WebSocket, and create chat-related frontend components
  alacrity_backend/users/chat_view.py
  alacrity_backend/users/consumers.py
  alacrity_backend/users/models.py
  alacrity_backend/users/routing.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/user_chat_view.py
  alacrity_frontend/src/app/chat/users/chats/page.tsx
  alacrity_frontend/src/app/chat/users/message/[id]/page.tsx
  alacrity_frontend/src/components/chat/chats-user.tsx
  alacrity_frontend/src/components/chat/chattinguser.tsx
Due: test-backend, test-frontend, build-frontend, dev

users can now send messages between one another
  alacrity_backend/alacrity_backend/asgi.py
  alacrity_backend/users/consumers.py
  alacrity_backend/users/routing.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/user_chat_view.py
  alacrity_frontend/src/app/chat/users/message/[id]/page.tsx
  alacrity_frontend/src/app/researcher/chats/page.tsx
  alacrity_frontend/src/components/chat/chats-user.tsx
  alacrity_frontend/src/components/chat/chattinguser.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-backend, test-frontend, build-frontend, dev

something is cooking
  alacrity_frontend/src/components/chat/chattinguser.tsx
Due: test-frontend, build-frontend, dev

all things are done ... user can now chat with ease
  alacrity_backend/users/consumers.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/user_chat_view.py
  alacrity_frontend/src/components/chat/chats-user.tsx
  alacrity_frontend/src/components/chat/chattinguser.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add tests for chat functionality and update user chat list component
  alacrity_frontend/src/__tests__/chats/user_chat.tsx
  alacrity_frontend/src/__tests__/chats/userchatlist.tsx
  alacrity_frontend/src/components/chat/chats-user.tsx
Due: test-frontend, build-frontend, dev

finishing up tests
  alacrity_frontend/src/__tests__/dataset_request/pending.tsx
Due: test-frontend, build-frontend, dev

tests
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

last chance
  alacrity_frontend/src/__tests__/dataset_request/pending.tsx
  alacrity_frontend/src/app/requests/pending/page.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/requests/card.tsx
  alacrity_frontend/src/components/requests/pending.tsx
Due: test-frontend, build-frontend, dev

refining tests
  alacrity_frontend/src/__tests__/dataset_request/approve_test.tsx
Due: test-frontend, build-frontend, dev

bla bala
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

we
  alacrity_frontend/src/components/Landing/LandingPage.tsx
  alacrity_frontend/src/components/Landing/LandingRow2.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/signup.tsx
Due: test-frontend, build-frontend, dev

minor upgrades
  alacrity_backend/alacrity_backend/settings.py
  alacrity_frontend/src/components/Landing/LandingPage.tsx
  alacrity_frontend/src/components/Landing/LandingRow2.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/aboutus.tsx
  alacrity_frontend/src/components/feed.tsx
  alacrity_frontend/src/components/signup.tsx
Due: test-backend, test-frontend, build-frontend, dev

minor changes
  alacrity_backend/alacrity_backend/asgi.py
Due: test-backend

chatbot works on to the next
  alacrity_backend/contact/urls.py
  alacrity_backend/contact/views.py
  alacrity_frontend/src/app/about/page.tsx
  alacrity_frontend/src/app/chatbot/page.tsx
  alacrity_frontend/src/app/feed/page.tsx
  alacrity_frontend/src/components/Landing/LandingRow2.tsx
  alacrity_frontend/src/components/aboutus.tsx
  alacrity_frontend/src/components/chatbot.tsx
Due: test-backend, test-frontend, build-frontend, dev

about page works on to feed !!
  alacrity_frontend/src/app/about/page.tsx
  alacrity_frontend/src/components/Landing/LandingPage.tsx
  alacrity_frontend/src/components/aboutus.tsx
  alacrity_frontend/src/components/collector.tsx
Due: test-frontend, build-frontend, dev

Add MySQL wait script and update Docker configurations for backend and frontend services and also jenkins filr for deployment
  Dockerfile.backend
  Dockerfile.frontend
  Jenkinsfile
  alacrity_backend/wait-for-mysql.sh
  docker-compose.yml
  nginx.conf
Due: test-backend

Refactor Jenkinsfile to remove commented-out pipeline stages and streamline the configuration
  Jenkinsfile
Due: none

Update backend and frontend configurations, modify WebSocket connection logic, and clean up Jenkinsfile
  Jenkinsfile
  alacrity_backend/alacrity_backend/config.py
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/users/tests.py
  alacrity_frontend/src/components/chat/chats-user.tsx
  alacrity_frontend/src/components/chat/chats.tsx
  alacrity_frontend/src/components/chat/chattinguser.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/config.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add redis_data volume to docker-compose configuration
  docker-compose.yml
Due: none

the page on who to follow now works on to another thing in the same page
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/serializer.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/feed/page.tsx
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

Comment out MySQL wait script in Dockerfile and add whitespace in docker-compose.yml for clarity
  Dockerfile.backend
  docker-compose.yml
Due: none

Remove redundant comment for rate limit zone in nginx.conf and adjust formatting
  nginx.conf
Due: none

Update docker-compose.yml to enhance backend service configurations and add Redis support
  docker-compose.yml
Due: none

Refactor docker-compose.yml to remove commented-out services and improve clarity in backend configurations
  docker-compose.yml
Due: none

Add Redis service to docker-compose and update Jenkinsfile repository URL
  Jenkinsfile
  docker-compose.yml
Due: none
