Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

Path conditions:
  lint-frontend: any of: alacrity_frontend/**/*
  lint-backend: any of: alacrity_backend/**/*.py
  test-frontend: any of: alacrity_frontend/**/*
  test-backend: any of: alacrity_backend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*

sign up authentication
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/requirements.txt
  alacrity_backend/users/models.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

ESLint errors fixed
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

auth sign-up, new landing, nav and tests
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/__tests__/BarChart.test.tsx
  alacrity_frontend/src/__tests__/Charts.test.tsx
  alacrity_frontend/src/__tests__/Home.test.tsx
  alacrity_frontend/src/__tests__/Layout.test.tsx
  alacrity_frontend/src/__tests__/LineChart.test.tsx
  alacrity_frontend/src/__tests__/MaxWidthWrapper.test.tsx
  alacrity_frontend/src/__tests__/Navbar.test.tsx
  alacrity_frontend/src/__tests__/PieChart.test.tsx
  alacrity_frontend/src/__tests__/Sidebar.test.tsx
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/app/page.tsx
  alacrity_frontend/src/app/testPage/page.test.tsx
  alacrity_frontend/src/app/testPage/page.tsx
  alacrity_frontend/src/app/test_folders/page.jsx
  alacrity_frontend/src/app/test_folders/page.test.tsx
  alacrity_frontend/src/components/Charts.tsx
  alacrity_frontend/src/components/ConditionalNavbar.tsx
  alacrity_frontend/src/components/LandingPage.tsx
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/components/NavItem.tsx
  alacrity_frontend/src/components/NavItems.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/Sidebar.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/components/ui/BarChart.tsx
  alacrity_frontend/src/components/ui/LineChart.tsx
  alacrity_frontend/src/components/ui/PieChart.tsx
  alacrity_frontend/tailwind.config.ts
Due: lint-frontend, test-frontend, build-frontend, dev

tests
  alacrity_frontend/src/__tests__/Sidebar.test.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

footer with tests
  alacrity_frontend/src/__tests__/Footer.test.tsx
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/components/Footer.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

ESLint errors and basic dashboard for researcher and organisation
  alacrity_frontend/src/__tests__/Home.test.tsx
  alacrity_frontend/src/__tests__/Organisation.test.tsx
  alacrity_frontend/src/__tests__/Researcher.test.tsx
  alacrity_frontend/src/app/organisation/page.tsx
  alacrity_frontend/src/app/page.tsx
  alacrity_frontend/src/app/researcher/page.tsx
  alacrity_frontend/src/components/Footer.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

fixed errors
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

modified side and navbar, created contact us form and implemented backend logic, wrote tests
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/contact/urls.py
  alacrity_backend/contact/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/public/navbar/account/billing.png
  alacrity_frontend/public/navbar/account/editProfile.png
  alacrity_frontend/public/navbar/account/login.png
  alacrity_frontend/public/navbar/account/preferences.png
  alacrity_frontend/public/navbar/account/purchases.png
  alacrity_frontend/public/navbar/account/signout.png
  alacrity_frontend/src/__tests__/Contact.test.tsx
  alacrity_frontend/src/app/contact/page.tsx
  alacrity_frontend/src/app/page.tsx
  alacrity_frontend/src/components/Contact.tsx
  alacrity_frontend/src/components/Footer.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/lib/utils.ts
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

gggg
  .gitlab-ci.yml
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/tests.py
Due: lint-backend, test-backend

gggg
  .gitlab-ci.yml
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

make migrations in test
  .gitlab-ci.yml
Due: none

make migrations in test
  .gitlab-ci.yml
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
Due: lint-backend, test-backend

trial
  alacrity_backend/users/urls.py
Due: lint-backend, test-backend

fff
  alacrity_backend/users/tests.py
Due: lint-backend, test-backend

test
  alacrity_backend/users/tests.py
Due: lint-backend, test-backend

fff
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

cridentials
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

cridentials
  .gitlab-ci.yml
  alacrity_backend/alacrity_backend/wsgi.py
  alacrity_backend/users/models.py
Due: lint-backend, test-backend

cridentials
  .gitlab-ci.yml
Due: none

cridentials
  .gitlab-ci.yml
  alacrity_backend/users/urls.py
Due: lint-backend, test-backend

cridentials
  .gitlab-ci.yml
  alacrity_backend/users/serializers.py
Due: lint-backend, test-backend

cridentials
  alacrity_backend/users/tests.py
Due: lint-backend, test-backend

fixed merge conflicts
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
Due: lint-backend, test-backend

tests
  .gitlab-ci.yml
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

test last trial
  .gitlab-ci.yml
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/tests.py
Due: lint-backend, test-backend

Update database password and improve dataset test assertions
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/tests.py
Due: lint-backend, test-backend

test tria;
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

yaml 🥱🥱🥱😪 trials to check whther db will run
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

Refactor database connection handling for improved reliability
  .gitlab-ci.yml
Due: none

Update README with instructions for installing requirements and making migrations; change database password in settings
  README.md
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

Add Organization model and admin interface; update dataset and user models to enable organisations to be registered respectively
  alacrity_backend/alacrity_backend/admin.py
  alacrity_backend/alacrity_backend/models.py
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/models.py
  alacrity_backend/users/models.py
  docker-compose.yml
Due: lint-backend, test-backend

Add Organization model and related files; refactor user and dataset models to integrate organization functionality
  alacrity_backend/alacrity_backend/models.py
  alacrity_backend/datasets/models.py
  alacrity_backend/organisation/__init__.py
  alacrity_backend/organisation/admin.py
  alacrity_backend/organisation/apps.py
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/tests.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/models.py
Due: lint-backend, test-backend

Refactor user role choices in User model; remove outdated roles and add organization_employee role. this enabled me to create the organisation successfully
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/users/models.py
Due: lint-backend, test-backend

Add UserAdmin class to admin interface; enhance user management with custom permissions and searchable fields
  alacrity_backend/users/admin.py
Due: lint-backend, test-backend
