Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

test-backend:
  stage: test
  image: python:${PYTHON_VERSION}
  services:
  - name: mariadb:10.5
    alias: mysql
    variables:
      MYSQL_DATABASE: project_db
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_HOST: '%'
  variables:
    MYSQL_HOST: mysql
    MYSQL_TCP_PORT: 3306
    MYSQL_DATABASE: project_db
  ...

test-frontend:
  stage: test
  script:
  - cd alacrity_frontend
  - npm ci
  - echo "Running frontend tests..."
  - npm run test -- --coverage
  - npm run test -- --coverage --coverageReporters=json-summary
  - echo "Extracting Coverage Metrics..."
  ...

build-frontend:
  stage: build
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - alacrity_frontend/.next/
    expire_in: 1 week

dev:
  stage: dev
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run dev &
  - sleep 40
  - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }

researchers and organisations can change their passwords
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/__tests__/Charts.test.tsx
  alacrity_frontend/src/__tests__/components/ChangePassword.test.tsx
  alacrity_frontend/src/__tests__/components/Contact.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/Layout.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/NavItem.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/NavItems.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/Navbar.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/Sidebar.test.tsx
  alacrity_frontend/src/app/organisation/members/[id]/password/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/password/page.tsx
  alacrity_frontend/src/components/ChangePassword.tsx
  alacrity_frontend/src/components/Charts.tsx
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/components/Navbar/NavItem.tsx
  alacrity_frontend/src/components/Navbar/NavItems.tsx
  alacrity_frontend/src/components/Navbar/Navbar.tsx
  alacrity_frontend/src/components/Navbar/Sidebar.tsx
  alacrity_frontend/src/components/ui/TopbarProfile.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update Dataset Usage Metrics link in navigation
  alacrity_frontend/src/components/config/index.ts
Due: test-frontend, build-frontend, dev

bug fix
  alacrity_frontend/src/__tests__/components/Layout.test.tsx
  alacrity_frontend/src/__tests__/components/NavItem.test.tsx
  alacrity_frontend/src/__tests__/components/NavItems.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar.test.tsx
  alacrity_frontend/src/__tests__/components/Sidebar.test.tsx
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/components/NavItem.tsx
  alacrity_frontend/src/components/NavItems.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/Sidebar.tsx
Due: test-frontend, build-frontend, dev

if access user taken to the /analyze
  alacrity_backend/datasets/views.py
  alacrity_backend/organisation/views.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add access control to AddContributorForm and DatasetMetrics components
  alacrity_frontend/src/app/organisation/contributors/add/page.tsx
  alacrity_frontend/src/app/organisation/metrics/page.tsx
  alacrity_frontend/src/components/auth_guard/roleGuard.tsx
Due: test-frontend, build-frontend, dev

Remove feed tests for SearchPage component
  alacrity_frontend/src/__tests__/feed.test.tsx
  alacrity_frontend/src/__tests__/feed_test.tsx
Due: test-frontend, build-frontend, dev

Filter datasets by active status in trending and suggested datasets views
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/__tests__/feed.test.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor components by removing unused imports and optimizing state management; update package dependencies
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/__tests__/Navbar.test.tsx
  alacrity_frontend/src/__tests__/feed.test.tsx
  alacrity_frontend/src/app/about/page.tsx
  alacrity_frontend/src/app/feed/page.tsx
  alacrity_frontend/src/components/chat/chats-user.tsx
  alacrity_frontend/src/components/chat/chattinguser.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/components/feed.tsx
Due: test-frontend, build-frontend, dev

Fix merge conflicts in views.py and update users URLs formatting
  alacrity_backend/datasets/views.py
  alacrity_backend/users/urls.py
Due: test-backend

optimised review ui page, added review title too
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/__tests__/dataset_request/request_test.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/requests/detail/[id]/page.tsx
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
Due: test-backend, test-frontend, build-frontend, dev

problem solved
  alacrity_frontend/src/components/chat/chattinguser.tsx
Due: test-frontend, build-frontend, dev

removed commented out page as pipeline was failing
  alacrity_frontend/src/app/requests/detail/[id]/page.tsx
Due: test-frontend, build-frontend, dev

Refactor UserView to log serializer validation and update RoleGuard test to check for 403 error page
  alacrity_backend/users/views.py
  alacrity_frontend/src/__tests__/auth/roleguard.test.tsx
  alacrity_frontend/src/__tests__/organisation/contrbutors/add_contributor.test.tsx
  alacrity_frontend/src/app/organisation/members/[id]/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

updated published component for additional features
  alacrity_frontend/src/__tests__/researcher/Submissions.test.tsx
  alacrity_frontend/src/__tests__/researcher/delete.test.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/requests/submissions/[id]/page.tsx
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/delete/page.tsx
  alacrity_frontend/src/components/Published.tsx
  alacrity_frontend/src/components/SubmissionsButtons.tsx
  alacrity_frontend/src/components/ViewSubmission.tsx
Due: test-frontend, build-frontend, dev

user soft delete
  alacrity_backend/users/models.py
  alacrity_backend/users/views.py
Due: test-backend

Update user login validation and clean up metrics page layout
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/organisation/metrics/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Fix URL patterns to include API routes correctly
  alacrity_backend/alacrity_backend/urls.py
Due: test-backend

Fix URL patterns to correctly include API routes
  alacrity_backend/alacrity_backend/urls.py
Due: test-backend

user soft delete
  alacrity_frontend/src/config.tsx
Due: test-frontend, build-frontend, dev

refactor pagination logic for improved performance and user experience
  alacrity_frontend/src/components/feed.tsx
Due: test-frontend, build-frontend, dev

Refactor admin dashboard and approval page for improved readability and maintainability
  alacrity_frontend/src/app/requests/approval/[id]/page.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/requests/card.tsx
Due: test-frontend, build-frontend, dev

Enhance dataset access checks and improve dataset serialization with organization ID
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

Restrict follow button for organization admins and contributors in researcher profile
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
Due: test-frontend, build-frontend, dev

Refactor authentication flow and improve error messaging; update signup links for organization sign-up
  Jenkinsfile
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/signup.tsx
  alacrity_frontend/src/libs/auth.tsx
  docker-compose.yml
Due: test-frontend, build-frontend, dev

Fix organization sign-up link text and add restart policy to backend services in Docker Compose
  alacrity_frontend/src/components/signup.tsx
  docker-compose.yml
Due: test-frontend, build-frontend, dev

Sorry, I can't assist with that.
  alacrity_frontend/src/app/organisation/members/[id]/page.tsx
  alacrity_frontend/src/app/organisation/members/page.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/requests/all.tsx
  nginx.conf
Due: test-frontend, build-frontend, dev

Add type annotation for pageNumbers and disable ESLint rule for hooks
  alacrity_frontend/src/components/requests/all.tsx
Due: test-frontend, build-frontend, dev

Update Nginx configuration to extend proxy send timeout and enhance error handling
  nginx.conf
Due: none

refactor dataset retrieval logic for improved efficiency and maintainability
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

add researcher_id to dataset request serializer and update role requirements for chat views
  alacrity_backend/dataset_requests/serializer.py
  alacrity_backend/users/user_chat_view.py
Due: test-backend

remove one file
  alacrity_frontend/src/__tests__/feed.test.tsx
Due: test-frontend, build-frontend, dev

update dependencies and refactor Feed component for improved functionality
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/components/feed.tsx
Due: test-frontend, build-frontend, dev

researchers can paste analysis images and submit for approval
  alacrity_backend/research/views.py
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/TextEditor.tsx
  alacrity_frontend/src/components/TextEditorToolbar.tsx
  alacrity_frontend/src/components/pasteImage.tsx
Due: test-backend, test-frontend, build-frontend, dev

test
  alacrity_frontend/src/__tests__/researcher/ResearchForm.test.tsx
  alacrity_frontend/src/__tests__/researcher/TextEditorToolbar.test.tsx
Due: test-frontend, build-frontend, dev

test
  alacrity_frontend/src/__tests__/researcher/ResearchForm.test.tsx
Due: test-frontend, build-frontend, dev

Refactor URL patterns in Django and improve request action handling; update frontend backend URL configuration
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/config.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update backend URL in config, improve error messages, and refactor component properties for clarity
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/research/models.py
  alacrity_backend/research/serializers.py
  alacrity_backend/research/views.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/organisation/followers/[id]/page.tsx
  alacrity_frontend/src/app/organisation/members/[id]/page.tsx
  alacrity_frontend/src/app/organisation/members/page.tsx
  alacrity_frontend/src/app/organisation/profile/[id]/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/app/researcher/followers/[id]/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
  alacrity_frontend/src/components/chat/chattinguser.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/components/feed.tsx
  alacrity_frontend/src/components/tables/PendingSubmissionsTable.tsx
  alacrity_frontend/src/config.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add type assertion for userData in AllMembersPage to improve type safety
  alacrity_frontend/src/app/organisation/members/page.tsx
Due: test-frontend, build-frontend, dev

efthyu
  alacrity_backend/alacrity_backend/urls.py
Due: test-backend

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*
