Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

test-backend:
  stage: test
  image: python:${PYTHON_VERSION}
  services:
  - name: mariadb:10.5
    alias: mysql
    variables:
      MYSQL_DATABASE: project_db
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_HOST: '%'
  variables:
    MYSQL_HOST: mysql
    MYSQL_TCP_PORT: 3306
    MYSQL_DATABASE: project_db
  ...

test-frontend:
  stage: test
  script:
  - cd alacrity_frontend
  - npm ci
  - echo "Running frontend tests..."
  - npm run test -- --coverage
  - npm run test -- --coverage --coverageReporters=json-summary
  - echo "Extracting Coverage Metrics..."
  ...

build-frontend:
  stage: build
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - alacrity_frontend/.next/
    expire_in: 1 week

dev:
  stage: dev
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run dev &
  - sleep 40
  - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }

test
  alacrity_backend/alacrity_backend/urls.py
Due: test-backend

Refactor URL configuration to improve clarity and maintainability
  alacrity_backend/alacrity_backend/urls.py
Due: test-backend

Refactor Dockerfile to streamline build stages and improve clarity
  Dockerfile.frontend
Due: none

Refactor Dockerfile to simplify build stages and enhance clarity
  Dockerfile.frontend
Due: none

Fix variable name from 'url' to 'urlpatterns' for consistency in URL configuration
  alacrity_backend/alacrity_backend/urls.py
Due: test-backend

Fix BACKEND_URL assignment to switch commented and active URLs for correct configuration
  alacrity_frontend/src/config.tsx
Due: test-frontend, build-frontend, dev

Enhance documentation across multiple modules by adding detailed docstrings for functions and classes, improving clarity on parameters, return values, and usage.
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/views.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/decorators.py
  alacrity_backend/users/views.py
Due: test-backend

added the wiki for docs and zipping
  Jenkinsfile
  README.md
  alacrity_backend/alacrity_backend/routing.py
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/views.py
  alacrity_backend/er_diagram.dot
  alacrity_backend/er_diagram.png
  alacrity_backend/requirements.txt
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  nginx.conf
Due: test-backend, test-frontend, build-frontend, dev

wikis
  .vscode/settings.json
  alacrity.wiki/API-Endpoints.md
  alacrity.wiki/Frontend-Documentation.md
  alacrity.wiki/Minio-object-storage.md
  alacrity.wiki/Requrements-(functionala-and-nun-functional).md
  alacrity.wiki/Testing-Documentation.md
  alacrity.wiki/Working-Agreement-.md
  alacrity.wiki/authentication.md
  alacrity.wiki/database-overview-and-model.md
  alacrity.wiki/deployment.md
  alacrity.wiki/uploads/34d4284c7a2489ccbf5c49034ec63102/API_Endpoints.docx
  alacrity.wiki/uploads/6c73f288075251f9faf4ea51a3312a30/API_Endpoints.docx
  alacrity.wiki/uploads/77e5305ae33bee13442cfecb4ac25807/acceptance-v1-g-8.docx
  alacrity.wiki/uploads/8ee40e0cd52d4673b7aed19fe9504dda/Frontend_Documentation.docx
  alacrity.wiki/uploads/bd61b3cd2f36f3de3c5bcee0e5238e79/Frontend_Documentation.docx
  alacrity.wiki/uploads/c926d0b361398181c8d62d3643cc1f4e/Working_Agreement.docx
  alacrity.wiki/uploads/d365d45ea85fd025e960f2bec136152a/Working_Agreement.docx
  alacrity.wiki/uploads/ebab684d873be6808e9776779f94c044/er_diagram.png
  alacrity.wiki/uploads/ec367d21e28a1867a37774042e85c838/API_Endpoints.docx
  F12
Due: none

Add environment configuration files and update .gitignore for env files
  .gitignore
  alacrity_backend/alacrity_backend/.env
  alacrity_frontend/.env.local
  alacrity_frontend/.gitignore
  docker-compose.yml
Due: test-backend, test-frontend, build-frontend, dev

Update README.md
  README.md
Due: none

Update .env
  alacrity_backend/alacrity_backend/.env
Due: test-backend

Update .env.local
  alacrity_frontend/.env.local
Due: test-frontend, build-frontend, dev

Update nginx.conf
  nginx.conf
Due: none

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*
