Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

test-backend:
  stage: test
  image: python:${PYTHON_VERSION}
  services:
  - name: mariadb:10.5
    alias: mysql
    variables:
      MYSQL_DATABASE: project_db
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_HOST: '%'
  variables:
    MYSQL_HOST: mysql
    MYSQL_TCP_PORT: 3306
    MYSQL_DATABASE: project_db
  ...

test-frontend:
  stage: test
  script:
  - cd alacrity_frontend
  - npm ci
  - echo "Running frontend tests..."
  - npm run test -- --coverage
  - npm run test -- --coverage --coverageReporters=json-summary
  - echo "Extracting Coverage Metrics..."
  ...

build-frontend:
  stage: build
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - alacrity_frontend/.next/
    expire_in: 1 week

dev:
  stage: dev
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run dev &
  - sleep 40
  - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }

Update GitLab CI configuration and improve database settings for better environment handling
  .gitlab-ci.yml
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/decorators.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update secret key and clean up database settings in settings.py
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

tests
  alacrity_backend/datasets/tests.py
Due: test-backend

Revert "Refactor database connection handling for improved reliability"
  .gitlab-ci.yml
Due: none

tests but fails in the ci non idea
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/decorators.py
Due: test-backend

descriptive analysis, pre-analysis brought to front end
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/analysis/descriptive-analysis/page.tsx
  alacrity_frontend/src/app/analysis/pre-analysis/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

es Lint goneee
  alacrity_frontend/src/app/analysis/pre-analysis/page.tsx
Due: test-frontend, build-frontend, dev

fixed tests
  alacrity_backend/requirements.txt
  alacrity_frontend/src/app/analysis/pre-analysis/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor dataset creation logic and clean up test code
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/views.py
Due: test-backend

sql connection problem
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/app/analysis/pre-analysis/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

optimised and working code for filtering, descriptive and pre analysis
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/app/analysis/filtering/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

errors
  alacrity_backend/datasets/views.py
  alacrity_backend/requirements.txt
  alacrity_frontend/src/app/analysis/filtering/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

testing if working
  alacrity_backend/datasets/views.py
Due: test-backend

Enhance user role management and permissions; update OrganizationAdmin to restrict access based on authentication and modify User model role choices for clarity
  alacrity_backend/organisation/admin.py
  alacrity_backend/users/models.py
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/Sidebar.tsx
Due: test-backend, test-frontend, build-frontend, dev

solved error
  alacrity_frontend/src/components/Navbar.tsx
Due: test-frontend, build-frontend, dev

fixed code, filtering produces analysed data not raw data
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/app/analysis/filtering/page.tsx
  alacrity_frontend/src/app/analysis/pre-analysis/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor organization and user management; add Contributor model, update URLs, and enhance user role handling
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/requirements.txt
  alacrity_backend/users/models.py
  alacrity_backend/users/url.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
Due: test-backend

fixed eslint errors
  alacrity_frontend/src/app/analysis/filtering/page.tsx
  alacrity_frontend/src/app/analysis/pre-analysis/page.tsx
Due: test-frontend, build-frontend, dev

Add Contributor model and API; implement contributor management with role handling and custom permissions
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/serializers.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
Due: test-backend

corelation in json format
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
Due: test-backend

Refactor user and dataset models; update role handling, enhance dataset creation, and improve contributor management
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/views.py
  alacrity_backend/organisation/serializers.py
  alacrity_backend/organisation/tests.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/models.py
Due: test-backend

Update role assignment to 'organization_admin'; add GetContributors endpoint and user URLs
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/serializers.py
  alacrity_backend/organisation/tests.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/url.py
  alacrity_backend/users/views.py
Due: test-backend

Increase upload memory limits and add analysis link field to Dataset model
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/tasks.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
Due: test-backend

test do not merge
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/decorators.py
Due: test-backend

Add inferential statistics functions for T-tests and regression analysis
  alacrity_backend/datasets/inferential/anova.py
  alacrity_backend/datasets/inferential/regression.py
  alacrity_backend/datasets/inferential/t-test.py
  alacrity_backend/datasets/inferential/t_tests.py
  alacrity_backend/datasets/tasks.py
  alacrity_backend/datasets/views.py
Due: test-backend

Add analysis page with data fetching and category selection functionality
  alacrity_frontend/src/app/analysis/[id]/page.tsx
  alacrity_frontend/src/styles.css
  alacrity_frontend/src/styles/Analysis.module.css
Due: test-frontend, build-frontend, dev

Refactor dataset creation to use APIView, add correlation analysis retrieval, and improve error handling
  alacrity_backend/datasets/views.py
Due: test-backend

descriptive analysis
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/descrptive.py
  alacrity_backend/datasets/pre-analysis.py
  alacrity_backend/datasets/tasks.py
  alacrity_backend/requirements.txt
Due: test-backend

optimised pre analysis th
  alacrity_backend/datasets/pre-analysis.py
  alacrity_backend/datasets/pre.py
  alacrity_backend/datasets/tasks.py
Due: test-backend

Add dataset management features: implement dataset serializer, create all datasets view, and enhance dataset card component
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/tasks.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/next.config.ts
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/datasets/add/page.tsx
  alacrity_frontend/src/app/datasets/all/page.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add user type definitions, enhance user role handling, and implement 404 and 403 error pages and also fixed nav bar (side ) though not that optimized
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/tests.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/datasets/all/page.tsx
  alacrity_frontend/src/app/errors/403/page.tsx
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/app/not-found.tsx
  alacrity_frontend/src/app/profile/page.tsx
  alacrity_frontend/src/app/researcher/pagddde.jsx
  alacrity_frontend/src/app/researcher/page.tsx
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/components/NavItems.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/Sidebar.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/libs/auth.tsx
  alacrity_frontend/src/types/types.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor statistical test functions for clarity, clean up URL patterns, and add TODOs for future enhancements
  alacrity_backend/datasets/tasks.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
Due: test-backend

Refactor contributor management; remove Contributor model and serializer, update dataset model, and adjust views for user role handling
  alacrity_backend/datasets/models.py
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/serializers.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/models.py
  alacrity_backend/users/views.py
Due: test-backend

Enhance dataset display: add navigation links to analysis pages and improve dataset size formatting
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
Due: test-frontend, build-frontend, dev

http://localhost:8000/organisation/add_contributor/
  alacrity_backend/organisation/views.py
Due: test-backend

Update access token lifetime, standardize role naming, and enhance contributor management
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/decorators.py
Due: test-backend

Refactor contributor tests; rename test class, streamline setup, and enhance contributor addition logic
  alacrity_backend/organisation/tests.py
Due: test-backend

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*
