Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

test-backend:
  stage: test
  image: python:${PYTHON_VERSION}
  services:
  - name: mariadb:10.5
    alias: mysql
    variables:
      MYSQL_DATABASE: project_db
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_HOST: '%'
  variables:
    MYSQL_HOST: mysql
    MYSQL_TCP_PORT: 3306
    MYSQL_DATABASE: project_db
  ...

test-frontend:
  stage: test
  script:
  - cd alacrity_frontend
  - npm ci
  - echo "Running frontend tests..."
  - npm run test -- --coverage
  - npm run test -- --coverage --coverageReporters=json-summary
  - echo "Extracting Coverage Metrics..."
  ...

build-frontend:
  stage: build
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - alacrity_frontend/.next/
    expire_in: 1 week

dev:
  stage: dev
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run dev &
  - sleep 40
  - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }

Refactor username generation logic, enhance error handling in API views, and improve image rendering in trending research component
  alacrity_backend/organisation/views.py
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/Landing/popularResearch.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add dataset overview endpoint and refine pre-analysis output; clean up frontend tour steps
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/pre.py
  alacrity_frontend/src/app/analyze/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

add user dataset requests view for researchers
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/users/views.py
Due: test-backend

refactor: update image rendering in TrendingResearchCarousel and replace button with link in DatasetCard
  alacrity_frontend/src/components/Landing/popularResearch.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-frontend, build-frontend, dev

feat: add Dashboard navigation item for organization admins and contributors
  alacrity_frontend/src/components/Landing/popularResearch.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-frontend, build-frontend, dev

refactor: update dataset request views and URLs for better organization and functionality
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/app/requests/all/page.tsx
  alacrity_frontend/src/components/requests/all.tsx
Due: test-backend, test-frontend, build-frontend, dev

refactor: rename AcceptRejectRequest to request_actions and update related URLs; enhance request handling in fronten
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/requests/all.tsx
  alacrity_frontend/src/components/requests/card.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add All Requests page and update request handling
  alacrity_backend/dataset_requests/views.py
Due: test-backend

discovered some errors will be back later
  alacrity_backend/dataset_requests/views.py
Due: test-backend

feat: enhance dataset request email notifications and add revoke action handling
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/__tests__/dataset_request/approve_test.tsx
  alacrity_frontend/src/components/requests/card.tsx
Due: test-backend, test-frontend, build-frontend, dev

feat: enhance request handling with sorting and searching capabilities in All Requests page
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/requests/all.tsx
  alacrity_frontend/src/components/requests/card.tsx
Due: test-backend, test-frontend, build-frontend, dev

feat: add request_status field and improve error message handling in ApproveRequest tests
  alacrity_frontend/src/__tests__/dataset_request/approve_test.tsx
  alacrity_frontend/src/components/requests/card.tsx
Due: test-frontend, build-frontend, dev

small changes
  alacrity_frontend/src/app/requests/datasetRequests/page.tsx
  alacrity_frontend/src/components/DatasetRequestTable.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-frontend, build-frontend, dev

feat: implement dataset detail view and update routing for user requests
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/app/requests/detail/[id]/page.tsx
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
Due: test-backend, test-frontend, build-frontend, dev

feat: enhance dataset detail page with comments and rating functionality, and implement access control
  alacrity_frontend/src/app/requests/detail/[id]/page.tsx
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
Due: test-frontend, build-frontend, dev

feat: add chat functionality for dataset issues with access control and message handling
  alacrity_frontend/src/app/chat/[id]/page.tsx
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
  alacrity_frontend/src/components/chat/issue.tsx
Due: test-frontend, build-frontend, dev

add Terraform scripts for project setup and management
  Terraform/backend.sh
  Terraform/clean.sh
  Terraform/frontend.sh
  Terraform/jenkins_readme.txt
  Terraform/outputs.tf
  Terraform/plan.tf
  Terraform/project_readme.txt
  Terraform/variables.tf
  Terraform/versions.tf
Due: none

modified bookmarks icon to like icon and added a visible counter
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/page.tsx
  alacrity_frontend/src/components/Landing/popularResearch.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-backend, test-frontend, build-frontend, dev

forgot password implemented
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/auth/forgot-password/page.tsx
  alacrity_frontend/src/app/reset-password/page.tsx
  alacrity_frontend/src/components/SignInForm.tsx
Due: test-backend, test-frontend, build-frontend, dev

Implement pre-analysis functionality and remove deprecated files; add tests for tooltip component
  alacrity_backend/datasets/inferential/t_tests.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/pre.py
  alacrity_backend/datasets/pre_analysis.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/__tests__/analye/tooltip.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/analyze/page.tsx
  alacrity_frontend/src/components/analyze/tooltip.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add tests for DatasetsPage component and import Image in popularResearch
  alacrity_frontend/src/__tests__/analye/all_dataset/all_datasets.test.tsx
  alacrity_frontend/src/components/Landing/popularResearch.tsx
Due: test-frontend, build-frontend, dev

fixed bugs of invalid date and org in with accsess
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
Due: test-frontend, build-frontend, dev

researchers can view datasets status via table, filter and pay there too
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/datasets/new.py
  alacrity_frontend/src/app/requests/datasetRequests/page.tsx
  alacrity_frontend/src/components/DatasetRequestTable.tsx
Due: test-backend, test-frontend, build-frontend, dev

lint
  alacrity_frontend/src/app/requests/datasetRequests/page.tsx
  alacrity_frontend/src/components/DatasetRequestTable.tsx
Due: test-frontend, build-frontend, dev

more lint
  alacrity_frontend/src/app/requests/datasetRequests/page.tsx
Due: test-frontend, build-frontend, dev

Add profile picture upload functionality with MinIO integration
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update image configuration and enhance TopBarProfile component with profile picture support
  alacrity_frontend/next.config.ts
  alacrity_frontend/src/components/ui/TopbarProfile.tsx
  alacrity_frontend/src/config.tsx
Due: test-frontend, build-frontend, dev

url
  alacrity_backend/dataset_requests/urls.py
Due: test-backend

fixed bug
  alacrity_backend/alacrity_backend/urls.py
  alacrity_frontend/src/app/requests/datasetRequests/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

table component, modified success msg, all requests can be viewed
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/__tests__/ResearchForm.test.tsx
  alacrity_frontend/src/app/requests/datasetRequests/page.tsx
  alacrity_frontend/src/app/requests/pendingSubmissions/page.tsx
  alacrity_frontend/src/app/requests/researchRequests/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/components/tables/DatasetRequestTable.tsx
  alacrity_frontend/src/components/tables/PendingSubmissionsTable.tsx
  alacrity_frontend/src/components/tables/PublicationTable.tsx
  alacrity_frontend/src/components/ui/select.tsx
Due: test-frontend, build-frontend, dev

lint
  alacrity_frontend/src/app/requests/pendingSubmissions/page.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
Due: test-frontend, build-frontend, dev

feat: implement chat functionality with WebSocket support, including models, serializers, and routing
  README.md
  alacrity_backend/alacrity_backend/asgi.py
  alacrity_backend/alacrity_backend/routng.py
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/chat_view.py
  alacrity_backend/datasets/consumers.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/routing.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/requirements.txt
  alacrity_frontend/src/components/chat/issue.tsx
Due: test-backend, test-frontend, build-frontend, dev

data is now sorted according to the date and time
  alacrity_frontend/src/components/requests/all.tsx
Due: test-frontend, build-frontend, dev

added profile picture , edit to profile, followers and following pending org dashboard refactored the seralizer it was making the views messy
  alacrity_backend/organisation/serializer.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/models.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/types/types.tsx
Due: test-backend, test-frontend, build-frontend, dev

the websocket can now connect
  alacrity_backend/alacrity_backend/asgi.py
  alacrity_backend/alacrity_backend/routing.py
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/chat_view.py
  alacrity_backend/datasets/consumers.py
  alacrity_backend/datasets/routing.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/config.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

the researcher can now send a message. onto the researcher to receive the issues and text back
  alacrity_frontend/src/components/Contact.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-frontend, build-frontend, dev

Enhance ResearcherProfilePage component with detailed documentation and improve social media icon rendering
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
Due: test-frontend, build-frontend, dev

Refactor dataset handling: streamline tag filtering, enhance dataset list view with organization filtering, and update permissions for bookmarking datasets
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/app/organisation/profile/page.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-backend, test-frontend, build-frontend, dev

Implement 'Remember Me' functionality in login process and adjust access token lifetime
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*
