Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

test-backend:
  stage: test
  image: python:${PYTHON_VERSION}
  services:
  - name: mariadb:10.5
    alias: mysql
    variables:
      MYSQL_DATABASE: project_db
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_HOST: '%'
  variables:
    MYSQL_HOST: mysql
    MYSQL_TCP_PORT: 3306
    MYSQL_DATABASE: project_db
  ...

test-frontend:
  stage: test
  script:
  - cd alacrity_frontend
  - npm ci
  - echo "Running frontend tests..."
  - npm run test -- --coverage
  - npm run test -- --coverage --coverageReporters=json-summary
  - echo "Extracting Coverage Metrics..."
  ...

build-frontend:
  stage: build
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - alacrity_frontend/.next/
    expire_in: 1 week

dev:
  stage: dev
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run dev &
  - sleep 40
  - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }

change
  alacrity_backend/datasets/new.py
  alacrity_frontend/src/app/analyze/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Fix merge conflicts and clean up code in dataset_requests and AdminDashboard added tests
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/__tests__/dashboards/ResearcherDashboard.test.tsx
  alacrity_frontend/src/__tests__/dashboards/admin_dashboard.test.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor admin dashboard tests and update data fetching in AnalyzePage
  alacrity_frontend/src/__tests__/dashboards/admin_dashboard.test.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/analyze/page.tsx
Due: test-frontend, build-frontend, dev

Add matplotlib and paypalrestsdk to requirements.txt
  alacrity_backend/requirements.txt
Due: test-backend

Add seaborn to requirements.txt
  alacrity_backend/requirements.txt
Due: test-backend

private research toggle button enabled
  alacrity_backend/research/models.py
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

applied feedback, no drafts or private subs in profile
  alacrity_backend/research/serializers.py
  alacrity_backend/users/views.py
  alacrity_frontend/components.json
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/globals.css
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/Submissions/view/[id]/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/SubmissionsButtons.tsx
  alacrity_frontend/src/components/ViewSubmission.tsx
  alacrity_frontend/src/components/ui/switch.tsx
  alacrity_frontend/src/lib/utils.ts
  alacrity_frontend/tailwind.config.ts
Due: test-backend, test-frontend, build-frontend, dev

lint
  alacrity_frontend/src/components/ViewSubmission.tsx
Due: test-frontend, build-frontend, dev

fixed bug
  alacrity_backend/research/serializers.py
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/components/SubmissionsButtons.tsx
Due: test-backend, test-frontend, build-frontend, dev

added back libs content
  alacrity_frontend/src/lib/utils.ts
Due: test-frontend, build-frontend, dev

tests
  alacrity_frontend/jest.config.ts
  alacrity_frontend/src/__tests__/Submissions.test.tsx
Due: test-frontend, build-frontend, dev

tests
  alacrity_frontend/src/__tests__/Submissions.test.tsx
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
Due: test-frontend, build-frontend, dev

datasets can now be bookmarked
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/views.py
  alacrity_frontend/jest.config.ts
  alacrity_frontend/src/__tests__/bookmarks.test.tsx
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-backend, test-frontend, build-frontend, dev

consistent bookmark icon colour
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-frontend, build-frontend, dev

bug fix, privacy subs hidden in profile
  alacrity_backend/users/views.py
Due: test-backend

refactor: improve bookmark toggle logic and enhance dataset card props
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-frontend, build-frontend, dev

feat: add endpoint to retrieve datasets user has access to
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-backend, test-frontend, build-frontend, dev

dark mode implemented on contributors side
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/app/globals.css
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/components/NavItem.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/Published.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/Sidebar.tsx
  alacrity_frontend/src/components/TextEditor.tsx
  alacrity_frontend/src/components/TextEditorToolbar.tsx
  alacrity_frontend/src/components/ViewSubmission.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/components/ui/ModeToggle.tsx
  alacrity_frontend/src/components/ui/button.tsx
  alacrity_frontend/src/components/ui/dropdown-menu.tsx
  alacrity_frontend/src/components/ui/theme-provider.tsx
  alacrity_frontend/tailwind.config.ts
Due: test-frontend, build-frontend, dev

dark mode for every page
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/components/signup.tsx
Due: test-frontend, build-frontend, dev

passing test
  alacrity_frontend/src/__tests__/Navbar.test.tsx
Due: test-frontend, build-frontend, dev

merge conflicts
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-frontend, build-frontend, dev

feat: add dataset access control and new page for user datasets
  alacrity_backend/datasets/new.py
  alacrity_frontend/public/navbar/datasets/mydatasets.png
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/researcher/datasetWithAccess/page.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-backend, test-frontend, build-frontend, dev

test: enhance ResearcherDashboard tests with improved assertions and structure
  alacrity_frontend/src/__tests__/dashboards/ResearcherDashboard.test.tsx
Due: test-frontend, build-frontend, dev

bla bla bal
  alacrity_backend/requirements.txt
  alacrity_backend/research/views.py
Due: test-backend

feat: add download functionality for encrypted datasets and improve UI for column selection
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/app/analyze/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

fixing errors
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
Due: test-frontend, build-frontend, dev

email can now be sent
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/users/views.py
Due: test-backend

view is not yet workin
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
Due: test-backend, test-frontend, build-frontend, dev

chore: update documentation for dataset access control and user interface improvements
  alacrity_backend/datasets/new.py
  alacrity_frontend/src/app/analyze/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

feat: remove download progress tracking and add loading warning for large datasets
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/components/profile/researcher.tsx
Due: test-frontend, build-frontend, dev

feat: add sklearn to requirements for enhanced machine learning capabilities
  alacrity_backend/requirements.txt
Due: test-backend

fix: correct package name from sklearn to scikit-learn in requirements
  alacrity_backend/requirements.txt
Due: test-backend

tenseal to
  alacrity_backend/requirements.txt
Due: test-backend

fixing lint
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-frontend, build-frontend, dev

views now works
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
Due: test-backend, test-frontend, build-frontend, dev

error solving
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
Due: test-frontend, build-frontend, dev

www
  alacrity_frontend/src/components/dashboards/admin.tsx
Due: test-frontend, build-frontend, dev

frontend for files can now be uploaded from gogle drive and drop box one drive requie=res azure account and google drive require google account i dont have
  alacrity_frontend/src/components/dataForm.tsx
Due: test-frontend, build-frontend, dev

can purchase paid datasets via dashboard after approval
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/payments/views.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*
