Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

lint-frontend:
  stage: lint
  script:
  - echo "Installing dependencies..."
  - cd alacrity_frontend
  - npm ci
  - echo "Running lint..."
  - npm run lint --fix

lint-backend:
  stage: lint
  image: python:3.10
  before_script:
  - pip install pylint
  script:
  - echo "Running Pylint..."
  - pylint alacrity_backend --exit-zero

test-frontend:
  stage: test
  script:
  - cd alacrity_frontend
  - npm ci
  - echo "Running frontend tests..."
  - npm run test -- --coverage
  - npm run test -- --coverage --coverageReporters=json-summary
  - echo "Extracting Coverage Metrics..."
  ...

test-backend:
  stage: test
  image: python:3.10
  before_script:
  - cd alacrity_backend
  - pip install -r requirements.txt
  - pip install coverage
  script:
  - echo "Running backend tests..."
  - coverage run --source=alacrity_backend --omit="alacrity_backend/tests/*,alacrity_backend/migrations/*" manage.py test
  ...

build-frontend:
  stage: build
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - alacrity_frontend/.next/
    expire_in: 1 week

dev:
  stage: dev
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run dev &
  - sleep 40
  - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }

Save changes before switching branches
  alacrity_backend/datasets/__pycache__/__init__.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/apps.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
Due: test-backend

merge conflicts resolved
  alacrity_frontend/package-lock.json
Due: lint-frontend, test-frontend, build-frontend, dev

Fix package-lock.json to match package.json
  alacrity_frontend/package-lock.json
Due: lint-frontend, test-frontend, build-frontend, dev

alerts
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

errro messages done
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

failing tests
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

pipeline lint face
  alacrity_frontend/package-lock.json
Due: lint-frontend, test-frontend, build-frontend, dev

Add MinIO configuration and enhance dataset upload handling though not working
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

tried filke uploading but slow abit
  alacrity_backend/alacrity_backend/settings.py
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

tried filke uploading but slow abit
  README.md
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/components/ui/Loader.tsx
  alacrity_frontend/src/components/ui/Upload.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

readme update
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

Update README with migration instructions and clarify database setup; fix backend URL formatting
  README.md
  alacrity_backend/alacrity_backend/config.py
Due: lint-backend, test-backend

lint errors
  alacrity_frontend/src/components/dataForm.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

created sign in component with tests and component to remove nav
  alacrity_frontend/package-lock.json
  alacrity_frontend/public/welcome.png
  alacrity_frontend/public/welcome2.png
  alacrity_frontend/src/__tests__/SignInForm.test.tsx
  alacrity_frontend/src/__tests__/SignInPage.test.tsx
  alacrity_frontend/src/app/auth/sign-in/page.tsx
  alacrity_frontend/src/app/globals.css
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/app/page.tsx
  alacrity_frontend/src/components/ConditionalNavbar.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/SignInForm.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

fixed incorrect route
  alacrity_frontend/src/__tests__/Home.test.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

up to date
  alacrity_frontend/package-lock.json
Due: lint-frontend, test-frontend, build-frontend, dev

started the frontend of signup and added the validate form
  .gitignore
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/.gitignore
  alacrity_backend/datasets/__pycache__/__init__.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/apps.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
  alacrity_frontend/package-lock.json
  alacrity_frontend/src/app/sign-up/page.tsx
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

added the sign-up form and route, i also modified the navbar to display necessary information when needed ie only displays sign-in and sign-up when the user is not logged in
  alacrity_frontend/src/app/sign-up/page.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

fixing invalid hook call error
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/app/sign-up/page.tsx
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

solving errors
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

jg
  alacrity_backend/alacrity_backend/views.py
  alacrity_backend/background_task.log
Due: lint-backend, test-backend

changes
  alacrity_frontend/src/components/Navbar.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

errors done
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

Update .gitignore and requirements for environment and storage setup; remove compiled Python files
  .gitignore
  alacrity_backend/datasets/__pycache__/__init__.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/apps.cpython-312.pyc
  alacrity_backend/datasets/__pycache__/models.cpython-312.pyc
  alacrity_backend/datasets/views.py
  alacrity_backend/requirements.txt
Due: lint-backend, test-backend

Update requirements.txt to include minio and django-minio-storage for file storage
  alacrity_backend/requirements.txt
Due: test-backend

Fix requirements.txt to correct python-dotenv installation command
  alacrity_backend/requirements.txt
Due: test-backend

edited my forms
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

added the user's app
  alacrity_backend/users/__init__.py
  alacrity_backend/users/admin.py
  alacrity_backend/users/apps.py
  alacrity_backend/users/models.py
  alacrity_backend/users/tests.py
  alacrity_backend/users/views.py
Due: lint-backend, test-backend

Update package dependencies and add SignupForm tests
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/__tests__/SignupForm.test.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

Enhance SignupForm tests with additional validation and error handling scenario
  alacrity_frontend/src/__tests__/SignupForm.test.tsx
  alacrity_frontend/src/components/signup.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

Add user authentication routes and access control components but hit errror when it comes to using router and jest i therefore opted for window reff
  .gitignore
  README.md
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/background_task.log
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/decorators.py
  alacrity_backend/users/models.py
  alacrity_backend/users/url.py
  alacrity_backend/users/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/__tests__/SignInPage.test.tsx
  alacrity_frontend/src/__tests__/auth/accessControll.test.tsx
  alacrity_frontend/src/__tests__/auth/authLibs.test.tsx
  alacrity_frontend/src/__tests__/auth/roleguard.test.tsx
  alacrity_frontend/src/app/datasets/page.tsx
  alacrity_frontend/src/app/errors/403/page.tsx
  alacrity_frontend/src/app/organization/page.tsx
  alacrity_frontend/src/app/researcher/page.jsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/auth_guard/AccessControl.tsx
  alacrity_frontend/src/components/auth_guard/roleGuard.tsx
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/libs/auth.tsx
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: lint-frontend, lint-backend, test-frontend, test-backend, build-frontend, dev

lint fix
  alacrity_frontend/src/__tests__/SignInPage.test.tsx
  alacrity_frontend/src/__tests__/auth/accessControll.test.tsx
  alacrity_frontend/src/__tests__/auth/authLibs.test.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/auth_guard/AccessControl.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

Add djangorestframework-jwt for authentication and background tasks
  alacrity_backend/requirements.txt
Due: test-backend

Add rest_framework_simplejwt for enhanced authentication support
  alacrity_backend/requirements.txt
Due: test-backend

Fix typo in requirements.txt for JWT authentication package
  alacrity_backend/requirements.txt
Due: test-backend

Remove unused JWT authentication package and serializer import from views
  alacrity_backend/requirements.txt
  alacrity_backend/users/views.py
Due: lint-backend, test-backend

Add Pillow to requirements for image processing support
  alacrity_backend/requirements.txt
Due: test-backend

Refactor OrganizationPage to handle user data loading and display more robustly; update useAuth for better type safety
  alacrity_frontend/src/app/organization/page.tsx
  alacrity_frontend/src/components/auth_guard/AccessControl.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: lint-frontend, test-frontend, build-frontend, dev

env file used for security
  alacrity_backend/alacrity_backend/settings.py
Due: lint-backend, test-backend

Path conditions:
  lint-frontend: any of: alacrity_frontend/**/*
  lint-backend: any of: alacrity_backend/**/*.py
  test-frontend: any of: alacrity_frontend/**/*
  test-backend: any of: alacrity_backend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*
