Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*

can now access the front page while experiencing some problems with chats
  alacrity_backend/datasets/chat_view.py
  alacrity_backend/datasets/consumers.py
  alacrity_backend/datasets/routing.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/users/consumers.py
  alacrity_frontend/public/navbar/datasets/image.png
  alacrity_frontend/src/app/chat/page.tsx
  alacrity_frontend/src/components/chat/chats.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-backend, test-frontend, build-frontend, dev

chat can now be seen on the admin end
  alacrity_backend/datasets/chat_view.py
  alacrity_backend/datasets/consumers.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/components/chat/issue.tsx
Due: test-backend, test-frontend, build-frontend, dev

purchase history table with tests
  alacrity_backend/payments/urls.py
  alacrity_backend/payments/views.py
  alacrity_frontend/src/__tests__/researcher/PublicationForm.test.tsx
  alacrity_frontend/src/__tests__/researcher/Published.test.tsx
  alacrity_frontend/src/__tests__/researcher/ResearchForm.test.tsx
  alacrity_frontend/src/__tests__/researcher/Submissions.test.tsx
  alacrity_frontend/src/__tests__/researcher/TextEditor.test.tsx
  alacrity_frontend/src/__tests__/researcher/TextEditorToolbar.test.tsx
  alacrity_frontend/src/__tests__/researcher/bookmarks.test.tsx
  alacrity_frontend/src/__tests__/researcher/delete.test.tsx
  alacrity_frontend/src/__tests__/researcher/drafts.test.tsx
  alacrity_frontend/src/__tests__/researcher/purchaseHistory.test.tsx
  alacrity_frontend/src/app/analysis/descriptive-analysis/page.tsx
  alacrity_frontend/src/app/analysis/filtering/page.tsx
  alacrity_frontend/src/app/analysis/pre-analysis/page.tsx
  alacrity_frontend/src/app/researcher/purchaseHistory/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

linked page to side nav
  alacrity_frontend/src/components/config/index.ts
Due: test-frontend, build-frontend, dev

added missing header for submission dashboard table
  alacrity_frontend/src/components/dashboards/admin.tsx
Due: test-frontend, build-frontend, dev

Refactor organization handling: update profile picture endpoint, enhance organization model with new fields, and improve organization serializer for follower counts and social links
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/serializer.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/models.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/organisation/profile/[id]/page.tsx
  alacrity_frontend/src/app/organisation/profile/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/types/types.tsx
Due: test-backend, test-frontend, build-frontend, dev

both the researcher and admins can access the messages
  alacrity_backend/datasets/chat_view.py
  alacrity_backend/datasets/consumers.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/app/chat/[id]/page.tsx
  alacrity_frontend/src/app/chat/page.tsx
  alacrity_frontend/src/components/Landing/LandingRow3.tsx
  alacrity_frontend/src/components/Landing/popularResearch.tsx
  alacrity_frontend/src/components/chat/chats.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/components/ui/BarChart.tsx
  alacrity_frontend/src/components/ui/LineChart.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

fix backend tests
  alacrity_backend/organisation/tests.py
  alacrity_backend/users/serializers.py
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

everything works as expected on to production
  alacrity_backend/datasets/chat_view.py
  alacrity_backend/datasets/consumers.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/components/chat/chats.tsx
  alacrity_frontend/src/components/chat/issue.tsx
Due: test-backend, test-frontend, build-frontend, dev

comments can now be send to the user
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
Due: test-backend, test-frontend, build-frontend, dev

everything now goes according to plan
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
Due: test-backend, test-frontend, build-frontend, dev

front end passes
  alacrity_frontend/src/__tests__/auth/authLibs.test.tsx
  alacrity_frontend/src/__tests__/dataset_request/all_test.tsx
  alacrity_frontend/src/__tests__/dataset_request/description.tsx
  alacrity_frontend/src/__tests__/dataset_request/request_test.tsx
  alacrity_frontend/src/__tests__/organisation/contrbutors/activate_page.test.tsx
  alacrity_frontend/src/__tests__/organisation/contrbutors/add_contributor.test.tsx
  alacrity_frontend/src/app/chat/[id]/page.tsx
  alacrity_frontend/src/app/requests/detail/[id]/page.tsx
  alacrity_frontend/src/components/all_datasets/dataset_detail.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/libs/auth.tsx
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: test-frontend, build-frontend, dev

changed the settings.py to allow git to deal with env
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

backend now deployed
  Terraform/backend.sh
  Terraform/terraform.tfstate
  Terraform/terraform.tfstate.backup
Due: none

fixed backend urls
  alacrity_frontend/src/app/requests/submissions/[id]/page.tsx
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/Submissions/view/[id]/page.tsx
  alacrity_frontend/src/app/researcher/purchaseHistory/page.tsx
Due: test-frontend, build-frontend, dev

backend url changes
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
Due: test-frontend, build-frontend, dev

more urls needed updating
  alacrity_frontend/src/app/auth/forgot-password/page.tsx
  alacrity_frontend/src/app/requests/researchRequests/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/view/[id]/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/view/[id]/page.tsx
  alacrity_frontend/src/app/researcher/delete/page.tsx
  alacrity_frontend/src/app/researcher/drafts/edit/[id]/page.tsx
  alacrity_frontend/src/app/researcher/drafts/page.tsx
  alacrity_frontend/src/app/reset-password/page.tsx
Due: test-frontend, build-frontend, dev

Refactor organization registration and user profile handling: update serializers, improve data mapping, and enhance error logging
  alacrity_backend/organisation/serializer.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor organization profile update: reload page and scroll to top after successful update, enhance follow button state management
  alacrity_frontend/src/app/organisation/profile/[id]/page.tsx
Due: test-frontend, build-frontend, dev

Enhance dataset model with active and deleted flags, update dataset management URLs, and refactor various components for improved functionality and code clarity
  Dockerfile.backend
  Dockerfile.frontend
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/__tests__/SignInForm.test.tsx
  alacrity_frontend/src/__tests__/SignInPage.test.tsx
  alacrity_frontend/src/__tests__/analye/all_dataset/all_datasets.test.tsx
  alacrity_frontend/src/__tests__/organisation/admin/dataset_detail.test.tsx
  alacrity_frontend/src/__tests__/profile/resaerchProfile.test.tsx
  alacrity_frontend/src/app/organisation/admin/datasets/[id]/page.tsx
  alacrity_frontend/src/app/organisation/admin/datasets/page.tsx
  alacrity_frontend/src/app/organisation/profile/[id]/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/dataForm.tsx
  docker-compose.yml
Due: test-backend, test-frontend, build-frontend, dev

PENDING BACKEND TESTS
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

Update backend and frontend configurations: add MINIO_URL, change database host to localhost, and refactor auth module tests
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/__tests__/ReviewSubmissionPage.test.tsx
  alacrity_frontend/src/__tests__/Sidebar.test.tsx
  alacrity_frontend/src/__tests__/analye/all_dataset/all_datasets.test.tsx
  alacrity_frontend/src/__tests__/researcher/bookmarks.test.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/config.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add tests for adding contributors: handle unauthenticated requests, invalid roles, and missing data fields
  alacrity_backend/organisation/tests.py
Due: test-backend

Refactor Dockerfile and update category selection in DatasetForm component to use an input with datalist for better user experience
  Dockerfile.frontend
  alacrity_frontend/src/components/dataForm.tsx
Due: test-frontend, build-frontend, dev

Add health category input component and enhance authentication handling
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/__tests__/analye/all_dataset/all_datasets.test.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/components/ui/cartegorySelect.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add dataset metrics: include number of downloads, number of rows, and size in bytes
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update stored URL construction in CreateDatasetView to include protocol based on MINIO_SECURE value; change image domain in next.config.ts
  alacrity_backend/datasets/views.py
  alacrity_frontend/next.config.ts
Due: test-backend, test-frontend, build-frontend, dev

more tests and backend urls corrected
  alacrity_frontend/src/__tests__/auth/forgot-password.test.tsx
  alacrity_frontend/src/__tests__/researcher/BookmarksViewID.test.tsx
  alacrity_frontend/src/__tests__/researcher/ViewSubmission.test.tsx
  alacrity_frontend/src/__tests__/researcher/ViewSubmissionID.test.tsx
  alacrity_frontend/src/__tests__/researcher/allSubmissions.test.tsx
  alacrity_frontend/src/__tests__/researcher/bookmarks.test.tsx
  alacrity_frontend/src/__tests__/researcher/datasetRequests.test.tsx
  alacrity_frontend/src/__tests__/researcher/pendingSubmissions.test.tsx
  alacrity_frontend/src/__tests__/researcher/researchRequests.test.tsx
  alacrity_frontend/src/app/requests/datasetRequests/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/page.tsx
  alacrity_frontend/src/app/researcher/page.tsx
Due: test-frontend, build-frontend, dev

conflicts
  alacrity_frontend/src/__tests__/researcher/bookmarks.test.tsx
Due: test-frontend, build-frontend, dev

waah
  Terraform/backend.sh
  Terraform/frontend.sh
  Terraform/terraform.tfstate
  Terraform/terraform.tfstate.backup
Due: none

minio issues
  Terraform/backend.sh
  Terraform/terraform.tfstate
  Terraform/terraform.tfstate.backup
Due: none

wewe
  alacrity_backend/alacrity_backend/settings.py
Due: test-backend

Add updated_by field to DatasetRequest model and implement UsersWithDatasetAccessView for dataset access management
  alacrity_backend/dataset_requests/models.py
  alacrity_backend/dataset_requests/serializer.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_frontend/src/app/organisation/admin/datasets/[id]/page.tsx
  alacrity_frontend/src/app/organisation/admin/datasets/[id]/users_accessing/page.tsx
  alacrity_frontend/src/app/organisation/admin/datasets/page.tsx
  alacrity_frontend/src/config.tsx
Due: test-backend, test-frontend, build-frontend, dev

lint errors and increased coverage
  alacrity_frontend/jest.config.ts
  alacrity_frontend/src/__tests__/components/Landing/LandingPage.test.tsx
  alacrity_frontend/src/__tests__/components/Landing/LandingRow2.test.tsx
  alacrity_frontend/src/__tests__/components/Landing/LandingRow3.test.tsx
  alacrity_frontend/src/__tests__/components/Landing/popularResearch.test.tsx
  alacrity_frontend/src/__tests__/components/Landing/tables/DatasetRequestTable.test.tsx
  alacrity_frontend/src/__tests__/components/Landing/tables/PendingSubmissionsTable.test.tsx
  alacrity_frontend/src/__tests__/components/Landing/tables/PublicationTable.test.tsx
  alacrity_frontend/src/__tests__/researcher/BookmarksViewID.test.tsx
  alacrity_frontend/src/__tests__/researcher/ViewSubmission.test.tsx
  alacrity_frontend/src/__tests__/researcher/ViewSubmissionID.test.tsx
  alacrity_frontend/src/__tests__/researcher/bookmarks.test.tsx
  alacrity_frontend/src/__tests__/researcher/datasetRequests.test.tsx
  alacrity_frontend/src/__tests__/researcher/pendingSubmissions.test.tsx
  alacrity_frontend/src/__tests__/researcher/researchRequests.test.tsx
  alacrity_frontend/src/__tests__/resetPassword.test.tsx
  alacrity_frontend/src/components/tables/DatasetRequestTable.tsx
  alacrity_frontend/src/components/tables/PublicationTable.tsx
Due: test-frontend, build-frontend, dev

done
  alacrity_frontend/public/navbar/chats/admin_chats.png
  alacrity_frontend/public/navbar/chats/user_chats.png
  alacrity_frontend/src/app/researcher/chats/page.tsx
  alacrity_frontend/src/components/chat/chats-user.tsx
  alacrity_frontend/src/components/chat/chats.tsx
  alacrity_frontend/src/components/chat/chattinguser
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/requests/all.tsx
  alacrity_frontend/src/components/requests/pending.tsx
Due: test-frontend, build-frontend, dev

clean up unused code and improve dataset detail page button styles
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/app/not-found.tsx
  alacrity_frontend/src/app/organisation/admin/datasets/[id]/page.tsx
  alacrity_frontend/src/app/organisation/admin/datasets/[id]/users_accessing/page.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add notifications for user follow actions; update profile picture URL based on MINIO_SECURE setting
  alacrity_backend/users/views.py
Due: test-backend

add 500 Internal Server Error page
  alacrity_frontend/src/app/errors/403/page.tsx
  alacrity_frontend/src/app/errors/500/page.tsx
Due: test-frontend, build-frontend, dev

tested research, notifs, payments
  alacrity_backend/notifications/tests.py
  alacrity_backend/payments/tests.py
  alacrity_backend/research/tests.py
Due: test-backend
