Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*

Add comments to Jenkinsfile regarding secret token usage for clarity
  Jenkinsfile
Due: none

Enhance nginx configuration with additional performance optimizations
  nginx.conf
Due: none

Reorganize ASGI imports for improved clarity and logging
  alacrity_backend/alacrity_backend/asgi.py
  docker-compose.yml
Due: test-backend

Remove collectstatic command from docker-compose for streamlined migration process
  docker-compose.yml
Due: none

defrgthyjujytgrer
  docker-compose.yml
Due: none

Remove Redis service from docker-compose for simplified configuration
  docker-compose.yml
Due: none

Comment out deploy section in docker-compose for future reference
  docker-compose.yml
Due: none

redis
  docker-compose.yml
Due: none

Refactor docker-compose and nginx configuration for improved structure and performance
  docker-compose.yml
  nginx.conf
Due: none

Add health check endpoint and remove unused form submission code
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/alacrity_backend/views.py
Due: test-backend

Comment out healthcheck configuration in docker-compose for future reference
  docker-compose.yml
Due: none

Remove health check conditions for backend services in docker-compose
  docker-compose.yml
Due: none

Refactor docker-compose.yml to remove health checks and simplify service dependencies
  docker-compose.yml
Due: none

last
  docker-compose.yml
Due: none

Reintroduce health checks and refine service dependencies in docker-compose.yml
  docker-compose.yml
Due: none

Comment out healthcheck configuration in docker-compose.yml for future reference
  docker-compose.yml
Due: none

Refactor docker-compose.yml to streamline service configurations and enhance clarity
  docker-compose.yml
Due: none

Add Redis service to docker-compose.yml with persistent storage
  docker-compose.yml
Due: none

Add TODO comments for future enhancements in docker-compose.yml
  docker-compose.yml
Due: none

Add check to terminate process using port 3000 in Jenkinsfile
  Jenkinsfile
Due: none

ff
  alacrity_frontend/src/__tests__/organisation/contrbutors/activate_page.test.tsx
  alacrity_frontend/src/__tests__/organisation/contrbutors/add_contributor.test.tsx
Due: test-frontend, build-frontend, dev

something is up .. but i am getting lots of errors
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_backend/organisation/serializer.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/auth/sign-up/org-sign-up/page.tsx
  alacrity_frontend/src/components/feed.tsx
  alacrity_frontend/src/components/signup.tsx
Due: test-backend, test-frontend, build-frontend, dev

organisations profile can now be accessed by the users and followed to their liking onto the next to find why the datasets are not being displayed
  alacrity_backend/organisation/serializer.py
  alacrity_backend/users/serializers.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

test
  alacrity_frontend/src/app/organisation/contributors/activate/page.tsx
  alacrity_frontend/src/app/organisation/contributors/add/page.tsx
Due: test-frontend, build-frontend, dev

update header text for adding contributors
  alacrity_frontend/src/app/organisation/contributors/add/page.tsx
Due: test-frontend, build-frontend, dev

test
  alacrity_frontend/src/__tests__/organisation/contrbutors/activate_page.test.tsx
Due: test-frontend, build-frontend, dev

datasets can now be viewed
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add trending datasets and users endpoints; improve models and URLs
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_backend/organisation/models.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/models.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

reseacher can now be chatted to with another reseacher
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
Due: test-frontend, build-frontend, dev

works as needed so far
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/consumers.py
  alacrity_backend/users/user_chat_view.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/chat/issue.tsx
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

Optimised UI of liked research
  .gitignore
  alacrity_backend/alacrity_backend/asgi.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_frontend/src/__tests__/researcher/BookmarksViewID.test.tsx
  alacrity_frontend/src/__tests__/researcher/bookmarks.test.tsx
  alacrity_frontend/src/app/researcher/bookmarks/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/view/[id]/page.tsx
  alacrity_frontend/src/config.tsx
Due: test-backend, test-frontend, build-frontend, dev

Optimised UI of liked research
  alacrity_frontend/src/__tests__/researcher/bookmarks.test.tsx
Due: test-frontend, build-frontend, dev

Update navigation and add new endpoints; modify tests and components
  alacrity_backend/research/models.py
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/__tests__/Navbar.test.tsx
  alacrity_frontend/src/__tests__/SignInForm.test.tsx
  alacrity_frontend/src/__tests__/auth/org-register.test.tsx
  alacrity_frontend/src/__tests__/components/Landing/LandingPage.test.tsx
  alacrity_frontend/src/__tests__/feed_test.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/feed.tsx
Due: test-backend, test-frontend, build-frontend, dev

dataset analytics
  alacrity_backend/alacrity_backend/urls.py
Due: test-backend

Refactor dataset access metrics and update backend configurations
  .gitignore
  alacrity_backend/alacrity_backend/asgi.py
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/datasets/inferential/regression.py
  alacrity_backend/datasets/metric.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_backend/research/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/organisation/metrics/page.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/config.tsx
Due: test-backend, test-frontend, build-frontend, dev

Enhance AdminDashboard tests with mock data and improved fetch handling
  alacrity_frontend/src/__tests__/dashboards/admin_dashboard.test.tsx
Due: test-frontend, build-frontend, dev

researchers and organisations can change their passwords
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/__tests__/Charts.test.tsx
  alacrity_frontend/src/__tests__/components/ChangePassword.test.tsx
  alacrity_frontend/src/__tests__/components/Contact.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/Layout.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/NavItem.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/NavItems.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/Navbar.test.tsx
  alacrity_frontend/src/__tests__/components/Navbar/Sidebar.test.tsx
  alacrity_frontend/src/app/organisation/members/[id]/password/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/password/page.tsx
  alacrity_frontend/src/components/ChangePassword.tsx
  alacrity_frontend/src/components/Charts.tsx
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/components/Navbar/NavItem.tsx
  alacrity_frontend/src/components/Navbar/NavItems.tsx
  alacrity_frontend/src/components/Navbar/Navbar.tsx
  alacrity_frontend/src/components/Navbar/Sidebar.tsx
  alacrity_frontend/src/components/ui/TopbarProfile.tsx
Due: test-backend, test-frontend, build-frontend, dev
