Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*

Refactor contributor tests; rename test class, streamline setup, and enhance contributor addition logic
  alacrity_backend/datasets/views.py
Due: test-backend

Refactor contributor tests; improve code readability and organization, and remove commented-out code
  alacrity_backend/organisation/tests.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
Due: test-backend

organisation
  alacrity_backend/organisation/models.py
Due: test-backend

removed unecessary test
  alacrity_backend/datasets/tests.py
Due: test-backend

Add new features and improvements: update requirements, enhance dataset model, add dataset analysis page, and implement caching
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/tasks.py
  alacrity_backend/datasets/tests.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_backend/requirements.txt
  alacrity_frontend/next.config.ts
  alacrity_frontend/package.json
  alacrity_frontend/src/app/analysis/[id]/page.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/analyze/page.tsx
  alacrity_frontend/tsconfig.json
Due: test-backend, test-frontend, build-frontend, dev

Implement dataset filtering and sorting features for improved user experience
  .gitlab-ci.yml
Due: none

Remove hashlib from requirements for cleaner dependency management
  alacrity_backend/datasets/tasks.py
  alacrity_backend/requirements.txt
Due: test-backend

Refactor Jest configuration, improve test coverage thresholds, and enhance layout tests with async handling
  alacrity_frontend/jest.config.ts
  alacrity_frontend/next.config.ts
  alacrity_frontend/src/__tests__/Layout.test.tsx
  alacrity_frontend/src/__tests__/Researcher.test.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/analyze/page.tsx
  alacrity_frontend/src/app/organization/page.tsx
  alacrity_frontend/src/app/researcher/pagddde.jsx
  alacrity_frontend/src/components/Sidebar.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
Due: test-frontend, build-frontend, dev

Enhance user profile handling: add username and lastname fields, update type definitions, and improve data fetching logic
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/profile/page.tsx
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/libs/auth.tsx
  alacrity_frontend/src/types/types.tsx
Due: test-backend, test-frontend, build-frontend, dev

Fix typo in UserRole type definition: change 'contributoR' to 'contributor'
  alacrity_frontend/src/components/NavItems.tsx
Due: test-frontend, build-frontend, dev

Fix import statement for User model and clean up dataset view function
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/views.py
Due: test-backend

Update User model and role definitions: increase username length, change default role to 'contributor', and update role references in components
  alacrity_backend/users/models.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/components/NavItems.tsx
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/Sidebar.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-backend, test-frontend, build-frontend, dev

researchers can upload, edit, soft delete, save as draft, edit draft, soft delete draft, bookmark research, retrieve all research, restore files or permanently delete from recently deleted
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/media/submission_images/preferences.png
  alacrity_backend/requirements.txt
  alacrity_backend/research/apps.py
  alacrity_backend/research/models.py
  alacrity_backend/research/serializers.py
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/page.tsx
  alacrity_frontend/src/app/researcher/delete/page.tsx
  alacrity_frontend/src/app/researcher/drafts/page.tsx
  alacrity_frontend/src/app/researcher/publicationForm/page.tsx
  alacrity_frontend/tailwind.config.ts
Due: test-backend, test-frontend, build-frontend, dev

temporary jest adjustment as front end will be changed
  alacrity_frontend/jest.config.ts
Due: test-frontend, build-frontend, dev

temp lower coverage
  alacrity_backend/alacrity_backend/settings.py
  alacrity_frontend/jest.config.ts
Due: test-backend, test-frontend, build-frontend, dev

changed views to class based
  alacrity_backend/media/submission_images/purchases.png
  alacrity_backend/media/submission_images/signout.png
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
Due: test-backend

functionig toolbar implemented
  alacrity_backend/media/submission_images/billing.png
  alacrity_backend/media/submission_images/preferences_CucWoWB.png
  alacrity_backend/media/submission_images/preferences_NrhEivv.png
  alacrity_backend/media/submission_images/preferences_it4xx88.png
  alacrity_backend/media/submission_images/preferences_y1PTvqJ.png
  alacrity_backend/media/submission_images/purchases_7KbXr7i.png
  alacrity_backend/media/submission_images/purchases_EVOLXFb.png
  alacrity_backend/media/submission_images/purchases_OBdSAbM.png
  alacrity_backend/media/submission_images/welcome2.png
  alacrity_backend/requirements.txt
  alacrity_backend/research/models.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/app/researcher/publicationForm/page.tsx
  alacrity_frontend/src/components/DisplayFormattedtext.tsx
  alacrity_frontend/src/components/TextEditor.tsx
  alacrity_frontend/src/components/TextEditorToolbar.tsx
  alacrity_frontend/src/components/preview.tsx
  alacrity_frontend/tailwind.config.ts
Due: test-backend, test-frontend, build-frontend, dev

styling done for research form
  alacrity_frontend/src/app/researcher/publicationForm/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/TextEditor.tsx
  alacrity_frontend/src/components/TextEditorToolbar.tsx
Due: test-frontend, build-frontend, dev

fixed eslint
  alacrity_frontend/src/app/researcher/publicationForm/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/TextEditor.tsx
  alacrity_frontend/src/components/TextEditorToolbar.tsx
Due: test-frontend, build-frontend, dev

fixed field issue
  alacrity_backend/media/submission_images/billing_tYpBEau.png
  alacrity_frontend/src/__tests__/TextEditor.test.tsx
  alacrity_frontend/src/__tests__/TextEditorToolbar.test.tsx
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/TextEditorToolbar.tsx
Due: test-backend, test-frontend, build-frontend, dev

buttons select and deselect smoothly
  alacrity_frontend/src/components/TextEditorToolbar.tsx
Due: test-frontend, build-frontend, dev

Add encryption fields to Dataset model, update user organization field, and enhance user registration logic WHERE AN ADMIN CAN ADD THE CONTRIBUTOR WITH EMAIL ACTIVATION PENDING FRONTEND
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/contact/views.py
  alacrity_backend/datasets/inferential/anova.py
  alacrity_backend/datasets/inferential/t-test.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/views.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/decorators.py
  alacrity_backend/users/models.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/url.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/organisation/contributors/activate/page.jsx
  alacrity_frontend/src/app/organisation/contributors/add/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

made table features user friendly
  alacrity_frontend/src/app/globals.css
  alacrity_frontend/src/components/TextEditor.tsx
  alacrity_frontend/src/components/TextEditorToolbar.tsx
Due: test-frontend, build-frontend, dev

fixed header exit
  alacrity_frontend/src/app/globals.css
  alacrity_frontend/src/components/TextEditorToolbar.tsx
Due: test-frontend, build-frontend, dev

success message
  alacrity_frontend/src/components/ResearchForm.tsx
Due: test-frontend, build-frontend, dev

fixed test as that feature was removed
  alacrity_frontend/src/__tests__/TextEditorToolbar.test.tsx
Due: test-frontend, build-frontend, dev

Remove unnecessary blank lines in DatasetSerializer and filter_and_clean_dataset function for cleaner code
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/views.py
Due: test-backend

random
  alacrity_backend/users/views.py
Due: test-backend

Refactor organization field in User model and related serializers; update dataset view for improved clarity
  alacrity_backend/datasets/new.py
  alacrity_backend/users/models.py
  alacrity_backend/users/serializers.py
  alacrity_backend/users/views.py
Due: test-backend

my research page styled
  alacrity_backend/media/submission_images/billing_4vdQ80s.png
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update user role to 'researcher', add pyarrow dependency, and enhance navigation items for researchers
  alacrity_backend/requirements.txt
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/config/index.ts
Due: test-backend, test-frontend, build-frontend, dev

Enhance dataset views and serializers, add logout functionality to Navbar, and clean up unused code
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-backend, test-frontend, build-frontend, dev

drafts can soft delete, styling for delete, drafts
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/delete/page.tsx
  alacrity_frontend/src/app/researcher/drafts/page.tsx
  alacrity_frontend/src/components/Published.tsx
  alacrity_frontend/src/components/SubmissionsButtons.tsx
Due: test-backend, test-frontend, build-frontend, dev

styled bookmarks page
  alacrity_frontend/src/app/researcher/bookmarks/page.tsx
Due: test-frontend, build-frontend, dev

Add contributor tracking to Dataset model and enhance dataset retrieval with contributor details
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/views.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/serializers.py
  alacrity_frontend/src/app/organisation/contributors/activate/page.jsx
  alacrity_frontend/src/app/organisation/contributors/activate/page.tsx
  alacrity_frontend/src/app/organisation/contributors/add/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

sorting in drafts work
  alacrity_backend/research/models.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/drafts/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

sorting implemented for recently deleted
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/delete/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

added tests and removed eslint errors
  alacrity_frontend/jest.config.ts
  alacrity_frontend/src/__tests__/Bookmarks.test.tsx
  alacrity_frontend/src/__tests__/PublicationForm.test.tsx
  alacrity_frontend/src/__tests__/Published.test.tsx
  alacrity_frontend/src/__tests__/ResearchForm.test.tsx
  alacrity_frontend/src/__tests__/Submissions.test.tsx
  alacrity_frontend/src/__tests__/TextEditorToolbar.test.tsx
  alacrity_frontend/src/__tests__/delete.test.tsx
  alacrity_frontend/src/__tests__/drafts.test.tsx
  alacrity_frontend/src/app/researcher/drafts/page.tsx
Due: test-frontend, build-frontend, dev

temp jest adjustments
  alacrity_frontend/jest.config.ts
Due: test-frontend, build-frontend, dev
