Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

test-backend:
  stage: test
  image: python:${PYTHON_VERSION}
  services:
  - name: mariadb:10.5
    alias: mysql
    variables:
      MYSQL_DATABASE: project_db
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
      MYSQL_ROOT_HOST: '%'
  variables:
    MYSQL_HOST: mysql
    MYSQL_TCP_PORT: 3306
    MYSQL_DATABASE: project_db
  ...

test-frontend:
  stage: test
  script:
  - cd alacrity_frontend
  - npm ci
  - echo "Running frontend tests..."
  - npm run test -- --coverage
  - npm run test -- --coverage --coverageReporters=json-summary
  - echo "Extracting Coverage Metrics..."
  ...

build-frontend:
  stage: build
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run build
  artifacts:
    paths:
    - alacrity_frontend/.next/
    expire_in: 1 week

dev:
  stage: dev
  script:
  - cd alacrity_frontend
  - npm ci
  - npm run dev &
  - sleep 40
  - wget --spider --quiet http://localhost:3000 || { echo "Dev server not running"; exit 1; }

lint
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-frontend, build-frontend, dev

did some tessts
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/dataset_requests/tests.py
  alacrity_frontend/src/__tests__/dashboards/admin_dashboard.test.tsx
  alacrity_frontend/src/__tests__/dataset_request/pending.tsx
Due: test-backend, test-frontend, build-frontend, dev

handling files from google drive and dropbox is supported and also gdrive backend pending tests
  alacrity_backend/datasets/views.py
  alacrity_frontend/src/components/dataForm.tsx
Due: test-backend, test-frontend, build-frontend, dev

done with google drive upload backend refactor: clean up imports in views.py for better readability
  alacrity_backend/datasets/views.py
Due: test-backend

trual
  alacrity_frontend/src/__tests__/bookmarks.test.tsx
Due: test-frontend, build-frontend, dev

qq
  alacrity_frontend/src/__tests__/bookmarks.test.tsx
Due: test-frontend, build-frontend, dev

solving errors
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-frontend, build-frontend, dev

woww please work
  alacrity_frontend/src/__tests__/bookmarks.test.tsx
Due: test-frontend, build-frontend, dev

tests
  alacrity_frontend/src/__tests__/dataset_request/approve_test.tsx
Due: test-frontend, build-frontend, dev

clean
  alacrity_frontend/src/__tests__/bookmarks.test.tsx
  alacrity_frontend/src/app/datasets/bookmarks/page.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-frontend, build-frontend, dev

organizations can approve research, then published. payment fully integrated
  alacrity_backend/research/models.py
  alacrity_backend/research/serializers.py
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_backend/users/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/app/requests/submissions/[id]/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/all_datasets/withAccess.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/ui/card.tsx
  alacrity_frontend/src/components/ui/input.tsx
  alacrity_frontend/src/components/ui/label.tsx
  alacrity_frontend/src/components/ui/separator.tsx
  alacrity_frontend/src/components/ui/skeleton.tsx
  alacrity_frontend/src/components/ui/textarea.tsx
Due: test-backend, test-frontend, build-frontend, dev

lint and tests
  alacrity_frontend/src/__tests__/ResearchForm.test.tsx
  alacrity_frontend/src/__tests__/ReviewSubmissionPage.test.tsx
  alacrity_frontend/src/__tests__/bookmarks.test.tsx
  alacrity_frontend/src/__tests__/dashboards/admin_dashboard.test.tsx
  alacrity_frontend/src/app/analyze/[id]/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
Due: test-frontend, build-frontend, dev

add data-testid to file input for improved testing support
  alacrity_frontend/src/components/dataForm.tsx
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: test-frontend, build-frontend, dev

prices can be set to 2dp
  alacrity_backend/datasets/serializer.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/dataForm.tsx
Due: test-backend, test-frontend, build-frontend, dev

lint
  alacrity_frontend/src/components/dataForm.tsx
Due: test-frontend, build-frontend, dev

form feedback applied, drafts are linked to dataset_id
  alacrity_backend/research/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/app/researcher/drafts/edit/[id]/page.tsx
  alacrity_frontend/src/components/Published.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
  alacrity_frontend/src/hooks/ResearchSubmissions.ts
  alacrity_frontend/src/hooks/useLocalStorage.ts
Due: test-backend, test-frontend, build-frontend, dev

researchers are warned before deleting their submissions
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/public/navbar/account/delete.png
  alacrity_frontend/public/navbar/account/library.png
  alacrity_frontend/src/__tests__/delete.test.tsx
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/delete/page.tsx
  alacrity_frontend/src/app/researcher/drafts/page.tsx
  alacrity_frontend/src/components/SubmissionsButtons.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/ui/alert-dialog.tsx
Due: test-frontend, build-frontend, dev

researchers are emailed after approval, rejection. bug in payment fixed
  alacrity_backend/payments/views.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/requests/submissions/[id]/page.tsx
  alacrity_frontend/src/app/researcher/drafts/edit/[dataset_id]/[submissionId]/page.tsx
  alacrity_frontend/src/components/ui/alert.tsx
Due: test-backend, test-frontend, build-frontend, dev

passing tests
  alacrity_frontend/src/__tests__/ReviewSubmissionPage.test.tsx
Due: test-frontend, build-frontend, dev

error fixed
  alacrity_frontend/src/app/researcher/drafts/edit/[dataset_id]/[submissionId]/page.tsx
Due: test-frontend, build-frontend, dev

optimised landing page
  alacrity_backend/research/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/public/landing/landing1.png
  alacrity_frontend/public/landing/landing2.png
  alacrity_frontend/src/__tests__/Home.test.tsx
  alacrity_frontend/src/__tests__/Organisation.test.tsx
  alacrity_frontend/src/app/organisation/page.tsx
  alacrity_frontend/src/app/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/app/researcher/page.tsx
  alacrity_frontend/src/components/Footer.tsx
  alacrity_frontend/src/components/Landing/LandingPage.tsx
  alacrity_frontend/src/components/Landing/LandingRow2.tsx
  alacrity_frontend/src/components/Landing/LandingRow3.tsx
  alacrity_frontend/src/components/Landing/popularResearch.tsx
  alacrity_frontend/src/components/LandingPage.tsx
  alacrity_frontend/src/components/Layout.tsx
  alacrity_frontend/src/components/ViewSubmission.tsx
  package-lock.json
Due: test-backend, test-frontend, build-frontend, dev

if logged in, home returns to dashboard not landing page
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/config/index.ts
Due: test-frontend, build-frontend, dev

changed text colour
  alacrity_frontend/src/components/Landing/LandingPage.tsx
Due: test-frontend, build-frontend, dev

line chart retrieves monthly users
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/__tests__/LineChart.test.tsx
  alacrity_frontend/src/components/Landing/LandingRow3.tsx
  alacrity_frontend/src/components/ui/LineChart.tsx
Due: test-backend, test-frontend, build-frontend, dev

removed styling attribute
  alacrity_frontend/src/components/Landing/LandingRow2.tsx
Due: test-frontend, build-frontend, dev

dynamic submissions and datasets chart
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/__tests__/BarChart.test.tsx
  alacrity_frontend/src/__tests__/LineChart.test.tsx
  alacrity_frontend/src/components/ui/BarChart.tsx
  alacrity_frontend/src/components/ui/LineChart.tsx
Due: test-backend, test-frontend, build-frontend, dev

bug fix
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/Landing/LandingRow3.tsx
Due: test-backend, test-frontend, build-frontend, dev

Uncommented out save
  alacrity_backend/users/views.py
Due: test-backend

bug fix: diff users can use same paypal acc
  alacrity_backend/payments/models.py
  alacrity_backend/payments/views.py
Due: test-backend

bug fix: diff users can use same paypal acc
  alacrity_backend/payments/views.py
Due: test-backend

bug fix diff users can use diff paypal accs
  alacrity_backend/payments/views.py
Due: test-backend

payment model addition
  alacrity_backend/payments/models.py
Due: test-backend

orgs and researchers notified when request/approval or rejection is made via UI
  .vscode/settings.json
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/notifications/__init__.py
  alacrity_backend/notifications/admin.py
  alacrity_backend/notifications/apps.py
  alacrity_backend/notifications/models.py
  alacrity_backend/notifications/tests.py
  alacrity_backend/notifications/urls.py
  alacrity_backend/notifications/views.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/tests/datasetpageform.test.tsx
Due: test-backend, test-frontend, build-frontend, dev

updated hard coded backend urls for deployment
  alacrity_frontend/src/components/Contact.tsx
  alacrity_frontend/src/components/Landing/LandingRow3.tsx
  alacrity_frontend/src/components/ui/BarChart.tsx
  alacrity_frontend/src/components/ui/LineChart.tsx
Due: test-frontend, build-frontend, dev

fixed button colours
  alacrity_frontend/src/app/globals.css
  alacrity_frontend/src/components/Landing/LandingRow3.tsx
  alacrity_frontend/src/components/Landing/popularResearch.tsx
  alacrity_frontend/src/components/ui/LineChart.tsx
Due: test-frontend, build-frontend, dev

Refactor Docker setup: add database Dockerfile, update docker-compose for MySQL service, and enhance backend initialization
  Dockerfile.backend
  Dockerfile.database
  docker-compose.yml
  init.sql
Due: none

researchers can track the status of their submissions
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/__tests__/dashboards/ResearcherDashboard.test.tsx
  alacrity_frontend/src/app/requests/researchRequests/page.tsx
  alacrity_frontend/src/components/PublicationTable.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*
