Repository Stephen219/Alacrity-Data-Sharing-Platform: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test-backend, test-frontend, build-frontend, dev

Path conditions:
  test-backend: any of: alacrity_backend/**/*
  test-frontend: any of: alacrity_frontend/**/*
  build-frontend: any of: alacrity_frontend/**/*
  dev: any of: alacrity_frontend/**/*

backend tetsst
  alacrity_backend/organisation/tests.py
  alacrity_backend/organisation/views.py
Due: test-backend

Add tests for ActivateAccount component, covering loading states, token validation, password matching, and visibility toggle
  alacrity_frontend/src/__tests__/organisation/contrbutors/activate_page.tsx
  alacrity_frontend/src/app/organisation/contributors/activate/page.tsx
Due: test-frontend, build-frontend, dev

Add tests for AddContributorForm testcomponent, covering form rendering, input handling, submission success, error handling, and loading states
  alacrity_frontend/src/__tests__/organisation/contrbutors/add_contributor.tsx
Due: test-frontend, build-frontend, dev

Add organization registration functionality and update README
  README.md
  alacrity_backend/organisation/serializer.py
  alacrity_backend/organisation/urls.py
  alacrity_backend/organisation/views.py
  alacrity_backend/users/serializers.py
  alacrity_frontend/src/app/auth/sign-up/org-sign-up/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Fix organization attribute in login response and enhance password regex validation
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/auth/sign-up/org-sign-up/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

users can now edit their drafts
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/drafts/edit/[id]/page.tsx
  alacrity_frontend/src/app/researcher/drafts/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update database test name, fix token error assertion, and add organization registration tests
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/organisation/tests.py
  alacrity_frontend/src/__tests__/auth/org-register.test.tsx
  alacrity_frontend/src/app/auth/sign-up/org-sign-up/page.tsx
Due: test-backend, test-frontend, build-frontend, dev

Update user role to 'researcher' and enhance DatasetCard component styling
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add dataset detail view and enhance dataset retrieval; update organization handling in user views
  alacrity_backend/datasets/new.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/datasets/description/page.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
  F12
Due: test-backend, test-frontend, build-frontend, dev

Add requests app and implement DatasetRequest model; enhance dataset detail view
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/new.py
  alacrity_backend/requests/__init__.py
  alacrity_backend/requests/admin.py
  alacrity_backend/requests/apps.py
  alacrity_backend/requests/models.py
  alacrity_backend/requests/tests.py
  alacrity_backend/requests/views.py
  alacrity_frontend/src/components/all_datasets/description.tsx
Due: test-backend, test-frontend, build-frontend, dev

Add requests functionality: implement DatasetRequest model, create request view, and update URLs; enhance dataset detail view with request feature i.e the request is now sent to the backend...
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/requests/models.py
  alacrity_backend/requests/urls.py
  alacrity_backend/requests/views.py
  alacrity_frontend/src/components/all_datasets/description.tsx
Due: test-backend, test-frontend, build-frontend, dev

Remove unused submission images and update .gitignore; add UserDashboardView and logout functionality
  .gitignore
  alacrity_backend/datasets/views.py
  alacrity_backend/media/submission_images/billing.png
  alacrity_backend/media/submission_images/billing_4vdQ80s.png
  alacrity_backend/media/submission_images/billing_tYpBEau.png
  alacrity_backend/media/submission_images/preferences.png
  alacrity_backend/media/submission_images/preferences_CucWoWB.png
  alacrity_backend/media/submission_images/preferences_NrhEivv.png
  alacrity_backend/media/submission_images/preferences_it4xx88.png
  alacrity_backend/media/submission_images/preferences_y1PTvqJ.png
  alacrity_backend/media/submission_images/purchases.png
  alacrity_backend/media/submission_images/purchases_7KbXr7i.png
  alacrity_backend/media/submission_images/purchases_EVOLXFb.png
  alacrity_backend/media/submission_images/purchases_OBdSAbM.png
  alacrity_backend/media/submission_images/signout.png
  alacrity_backend/media/submission_images/welcome2.png
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/app/account/page.tsx
  alacrity_frontend/src/components/Sidebar.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/types/types.tsx
Due: test-backend, test-frontend, build-frontend, dev

user can now make a request successfully
  alacrity_backend/requests/views.py
Due: test-backend

Add logout functionality and enhance dataset creation with tags
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/datasets/views.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/signup.tsx
  alacrity_frontend/src/components/ui/TopbarProfile.tsx
  alacrity_frontend/src/libs/auth.tsx
Due: test-backend, test-frontend, build-frontend, dev

Refactor Navbar component by removing unused import and adjusting state initialization
  alacrity_frontend/src/components/Navbar.tsx
Due: test-frontend, build-frontend, dev

working on it
  alacrity_backend/requests/models.py
  alacrity_backend/requests/serializer.py
  alacrity_backend/requests/urls.py
  alacrity_backend/requests/views.py
  alacrity_frontend/src/app/requests/pending/page.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/requests/pending.tsx
Due: test-backend, test-frontend, build-frontend, dev

fixed the dataset user fk relationship to fetch all the requests
  alacrity_backend/requests/serializer.py
  alacrity_backend/requests/urls.py
  alacrity_backend/requests/views.py
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-backend, test-frontend, build-frontend, dev

revert
  alacrity_frontend/jest.config.ts
Due: test-frontend, build-frontend, dev

revert
  alacrity_frontend/src/app/organisation/contributors/activate/page.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/all_datasets/description.tsx
  alacrity_frontend/src/components/requests/pending.tsx
Due: test-frontend, build-frontend, dev

revert
  .gitignore
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/dataset_requests/__init__.py
  alacrity_backend/dataset_requests/admin.py
  alacrity_backend/dataset_requests/apps.py
  alacrity_backend/dataset_requests/models.py
  alacrity_backend/dataset_requests/serializer.py
  alacrity_backend/dataset_requests/tests.py
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/media/submission_images/preferences.png
  alacrity_backend/media/submission_images/preferences_NrhEivv.png
  alacrity_backend/media/submission_images/preferences_y1PTvqJ.png
  alacrity_backend/media/submission_images/purchases.png
  alacrity_backend/media/submission_images/purchases_7KbXr7i.png
  alacrity_backend/media/submission_images/purchases_EVOLXFb.png
  alacrity_backend/media/submission_images/purchases_OBdSAbM.png
  alacrity_backend/media/submission_images/signout.png
  alacrity_backend/media/submission_images/welcome2.png
Due: test-backend

fix: clean up imports and improve dataset card rendering
  alacrity_frontend/src/components/Navbar.tsx
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
Due: test-frontend, build-frontend, dev

did the backend
  alacrity_backend/dataset_requests/serializer.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/users/models.py
  alacrity_frontend/src/components/requests/card.tsx
Due: test-backend, test-frontend, build-frontend, dev

feat: add total researches metric to admin dashboard and update user dashboard view
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/dashboards/admin.tsx
Due: test-backend, test-frontend, build-frontend, dev

draft edit page uses same form as submission
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/drafts/edit/[id]/page.tsx
  alacrity_frontend/src/app/researcher/drafts/page.tsx
  alacrity_frontend/src/components/ResearchForm.tsx
Due: test-backend, test-frontend, build-frontend, dev

form can now only be submitted once
  alacrity_frontend/src/components/ResearchForm.tsx
Due: test-frontend, build-frontend, dev

fixed eslint
  alacrity_frontend/src/__tests__/drafts.test.tsx
  alacrity_frontend/src/app/researcher/drafts/edit/[id]/page.tsx
Due: test-frontend, build-frontend, dev

singular page views, bookmark icon, date displayed
  alacrity_backend/research/urls.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/Submissions/view/[id]/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/view/[id]/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/page.tsx
  alacrity_frontend/src/app/researcher/bookmarks/view/[id]/page.tsx
  alacrity_frontend/src/components/ViewSubmission.tsx
Due: test-backend, test-frontend, build-frontend, dev

attempt to optimise performance
  alacrity_backend/research/views.py
  alacrity_frontend/package-lock.json
  alacrity_frontend/package.json
  alacrity_frontend/src/__tests__/Bookmarks.test.tsx
  alacrity_frontend/src/__tests__/Submissions.test.tsx
  alacrity_frontend/src/app/layout.tsx
  alacrity_frontend/src/app/researcher/Submissions/page.tsx
  alacrity_frontend/src/app/researcher/allSubmissions/page.tsx
  alacrity_frontend/src/components/QueryProvider.tsx
  alacrity_frontend/src/components/ViewSubmission.tsx
Due: test-backend, test-frontend, build-frontend, dev

reverted to previous view as bug
  alacrity_backend/research/views.py
Due: test-backend

frontend now displays the data before it has been approved , also changed the route to accept the id with it
  alacrity_backend/dataset_requests/serializer.py
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/users/models.py
  alacrity_frontend/src/app/requests/approval/[id]/page.tsx
  alacrity_frontend/src/components/requests/card.tsx
  alacrity_frontend/src/components/requests/pending.tsx
Due: test-backend, test-frontend, build-frontend, dev

admin can now accept / deny a request
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/components/requests/card.tsx
Due: test-backend, test-frontend, build-frontend, dev

the admin can now see the necessary information before accepting / rejecting a request
  alacrity_backend/dataset_requests/serializer.py
  alacrity_backend/dataset_requests/views.py
  alacrity_frontend/src/components/requests/card.tsx
Due: test-backend, test-frontend, build-frontend, dev

feat: add user role-based profile links, update user model, and enhance dashboard functionality
  alacrity_backend/users/models.py
  alacrity_backend/users/urls.py
  alacrity_backend/users/views.py
  alacrity_frontend/public/navbar/account/viewDashboard.png
  alacrity_frontend/src/__tests__/ResearchForm.test.tsx
  alacrity_frontend/src/__tests__/auth/authLibs.test.tsx
  alacrity_frontend/src/__tests__/organisation/contrbutors/add_contributor.test.tsx
  alacrity_frontend/src/__tests__/organisation/contrbutors/all_members.test.tsx
  alacrity_frontend/src/app/dashboard/page.tsx
  alacrity_frontend/src/app/organisation/admin/members/id/page.tsx
  alacrity_frontend/src/app/organisation/admin/members/page.tsx
  alacrity_frontend/src/app/organisation/members/[id]/page.tsx
  alacrity_frontend/src/app/organisation/members/page.tsx
  alacrity_frontend/src/app/profile/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/Sidebar.tsx
  alacrity_frontend/src/components/SignInForm.tsx
  alacrity_frontend/src/components/config/index.ts
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/components/profile/researcher.tsx
  alacrity_frontend/src/components/ui/TopbarProfile.tsx
  alacrity_frontend/src/libs/auth.tsx
  alacrity_frontend/src/types/types.tsx
  alacrity_frontend/tsconfig.json
Due: test-backend, test-frontend, build-frontend, dev

feat: add detailed file overviews and documentation comments for organization and dashboard components
  alacrity_frontend/src/__tests__/auth/authLibs.test.tsx
  alacrity_frontend/src/__tests__/organisation/contrbutors/activate_page.test.tsx
  alacrity_frontend/src/app/datasets/all/page.tsx
  alacrity_frontend/src/app/organisation/contributors/activate/page.tsx
  alacrity_frontend/src/app/organisation/contributors/add/page.tsx
  alacrity_frontend/src/app/organisation/members/[id]/page.tsx
  alacrity_frontend/src/app/organisation/members/page.tsx
  alacrity_frontend/src/app/researcher/profile/[id]/page.tsx
  alacrity_frontend/src/components/dashboards/admin.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
  alacrity_frontend/src/components/profile/researcher.tsx
Due: test-frontend, build-frontend, dev

feat: enhance AnalysisFormComponent to handle datasetId from URL and improve form state management
  alacrity_frontend/src/components/ResearchForm.tsx
Due: test-frontend, build-frontend, dev

feat: update AnalysisFormComponent to make datasetId optional and clean up unused code
  alacrity_frontend/src/components/ResearchForm.tsx
Due: test-frontend, build-frontend, dev

implemented backend logic for payments, prices can be set and displayed for datasets
  alacrity_backend/alacrity_backend/settings.py
  alacrity_backend/alacrity_backend/urls.py
  alacrity_backend/dataset_requests/urls.py
  alacrity_backend/dataset_requests/views.py
  alacrity_backend/datasets/models.py
  alacrity_backend/datasets/serializer.py
  alacrity_backend/datasets/views.py
  alacrity_backend/payments/__init__.py
  alacrity_backend/payments/admin.py
  alacrity_backend/payments/apps.py
  alacrity_backend/payments/models.py
  alacrity_backend/payments/tests.py
  alacrity_backend/payments/urls.py
  alacrity_backend/payments/views.py
  alacrity_backend/research/views.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/all_datasets/datasetCard.tsx
  alacrity_frontend/src/components/dataForm.tsx
Due: test-backend, test-frontend, build-frontend, dev

fixed issues
  alacrity_backend/datasets/new.py
  alacrity_frontend/src/app/analyze/page.tsx
  alacrity_frontend/src/components/requests/card.tsx
  alacrity_frontend/src/components/requests/pending.tsx
Due: test-backend, test-frontend, build-frontend, dev

changed some stuff
  alacrity_backend/dataset_requests/serializer.py
  alacrity_backend/users/models.py
Due: test-backend

feat: update routing for dataset links and clean up unused code in all_datasets component
  .gitignore
  alacrity_backend/users/views.py
  alacrity_frontend/src/components/all_datasets/all_datasets.tsx
  alacrity_frontend/src/components/dashboards/researcher.tsx
Due: test-backend, test-frontend, build-frontend, dev
